USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[REPORTE_SSV_COMUNIDADES]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[REPORTE_SSV_COMUNIDADES]
AS
	SELECT C.NOMBRE_RYR_COMUNIDAD,S.DERECHO, S.NECESIDAD, S.NUM_PERSONAS_PENDIENTES_SUPERAR, S.NUM_PERSONAS_SUPERON  
	FROM [RYR_COMUNITARIO].[V_RYR_SSV] as S
	INNER JOIN RYR_COMUNIDADES C ON C.ID_RYR_COMUNIDAD = S.ID_RYR_COMUNIDAD
GO
