USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_INSERTAR_TB_PLAN_ACCION_TRASLADO_CATEGORIA_ENTIDAD]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_INSERTAR_TB_PLAN_ACCION_TRASLADO_CATEGORIA_ENTIDAD] 
@ID_PLAN_ACCION_TRASLADO INT,
@ID_CATEGORIA int ,
@ID_ENTIDAD INT,
@ID_USUARIO INT
AS
BEGIN
	IF NOT EXISTS( SELECT TOP 1 1 FROM  RYR_COMUNITARIO.TB_PLAN_ACCION_TRASLADO_CATEGORIA_ENTIDAD WHERE ID_PLAN_ACCION_TRASLADO = @ID_PLAN_ACCION_TRASLADO AND ID_ENTIDAD = @ID_ENTIDAD AND ID_CATEGORIA = @ID_CATEGORIA)
	BEGIN
		DECLARE @FECHA DATETIME
		SET @FECHA = GETDATE()
		INSERT INTO RYR_COMUNITARIO.TB_PLAN_ACCION_TRASLADO_CATEGORIA_ENTIDAD (ID_PLAN_ACCION_TRASLADO,ID_CATEGORIA, ID_ENTIDAD, ID_USUARIO, FECHA_SISTEMA) VALUES (@ID_PLAN_ACCION_TRASLADO,@ID_CATEGORIA, @ID_ENTIDAD, @ID_USUARIO, @FECHA)
	END
END
GO
