USE [Maariv_Desarrollo]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_EVIDENCIAS]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_EVIDENCIAS](
	[ID_EVIDENCIA] [int] IDENTITY(1,1) NOT NULL,
	[ID_TIPO_EVIDENCIA] [int] NOT NULL,
	[ID_CONTROL] [int] NOT NULL,
	[CONCEPTO] [varchar](50) NOT NULL,
	[URL_ARCHIVO] [varchar](500) NOT NULL,
	[NOMBRE_ARCHIVO] [varchar](500) NOT NULL,
	[EXTENSION] [varchar](10) NOT NULL,
	[USUARIO] [int] NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[ACTIVO] [bit] NULL,
 CONSTRAINT [PK_TB_EVIDENCIAS] PRIMARY KEY CLUSTERED 
(
	[ID_EVIDENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
