USE [Maariv_Desarrollo]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_CATEGORIA_ENTIDAD]    Script Date: 05/11/2020 10:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_CATEGORIA_ENTIDAD](
	[ID_PLAN_ACCION_TRASLADO] [int] NULL,
	[ID_CATEGORIA] [int] NULL,
	[ID_ENTIDAD] [int] NULL,
	[ID_USUARIO] [int] NULL,
	[FECHA_SISTEMA] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_CATEGORIA_ENTIDAD]  WITH CHECK ADD  CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_CATEGORIA_ENTIDAD_TB_CATEGORIA_TRASLADO] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [RYR_COMUNITARIO].[TB_CATEGORIA_TRASLADO] ([ID_CATEGORIA])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_CATEGORIA_ENTIDAD] CHECK CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_CATEGORIA_ENTIDAD_TB_CATEGORIA_TRASLADO]
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_CATEGORIA_ENTIDAD]  WITH CHECK ADD  CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_CATEGORIA_ENTIDAD_TB_ENTIDAD] FOREIGN KEY([ID_ENTIDAD])
REFERENCES [RYR_COMUNITARIO].[TB_ENTIDAD] ([ID_ENTIDAD])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_CATEGORIA_ENTIDAD] CHECK CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_CATEGORIA_ENTIDAD_TB_ENTIDAD]
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_CATEGORIA_ENTIDAD]  WITH CHECK ADD  CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_CATEGORIA_ENTIDAD_TB_PLAN_ACCION_TRASLADO] FOREIGN KEY([ID_PLAN_ACCION_TRASLADO])
REFERENCES [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO] ([ID_PLAN_ACCION_TRASLADO])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_CATEGORIA_ENTIDAD] CHECK CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_CATEGORIA_ENTIDAD_TB_PLAN_ACCION_TRASLADO]
GO
