USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_GET_TB_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD]    Script Date: 09/11/2020 10:27:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_GET_TB_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD]
	@ID_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD INT = 0,
	@ID_PLAN_RYR_BIEN_SERVICIO INT = 0
AS
	IF @ID_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD > 0
		SELECT ID_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD
			  ,ID_PLAN_RYR_BIEN_SERVICIO
			  ,ID_CLASIFICACION_ACTIVIDAD
			  ,CLASIFICACION_ACTIVIDAD
			  ,ACTIVIDAD
			  ,CUMPLIDA
			  ,FECHA_ACTIVIDAD
			  ,RESPONSABLE
			  ,COSTO
			  ,ACTIVO
		  FROM RYR_COMUNITARIO.V_RYR_BIEN_SERVICIO_ACTIVIDAD
		  WHERE ID_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD = @ID_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD
	IF @ID_PLAN_RYR_BIEN_SERVICIO > 0
		SELECT ID_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD
				  ,ID_PLAN_RYR_BIEN_SERVICIO
				  ,ID_CLASIFICACION_ACTIVIDAD
				  ,CLASIFICACION_ACTIVIDAD
				  ,ACTIVIDAD
				  ,CUMPLIDA
				  ,FECHA_ACTIVIDAD
				  ,RESPONSABLE
				  ,COSTO
				  ,ACTIVO
			  FROM RYR_COMUNITARIO.V_RYR_BIEN_SERVICIO_ACTIVIDAD
			  WHERE ID_PLAN_RYR_BIEN_SERVICIO = @ID_PLAN_RYR_BIEN_SERVICIO
GO
