USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_SET_TB_CARACTERIZACION_COMUNIDAD]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [RYR_COMUNITARIO].[SP_SET_TB_CARACTERIZACION_COMUNIDAD] 
	@ID_RYR_COMUNIDAD INT,
	@FECHA DATE,
	@ID_ENTIDAD INT,
	@ID_TERRITORIAL INT,
	@ID_DEPARTAMENTO INT,
	@ID_MUNICIPIO INT,
	@PROFESIONAL VARCHAR(400),
	@CORREO VARCHAR(400),
	@INTENCIONALIDAD_RAZONES VARCHAR(8000),
	@INTENCIONALIDAD_MANIFESTACION VARCHAR(8000),
	@CONDICIONES_ACTUALES_CARACTERISTICAS VARCHAR(8000),
	@CONDICIONES_ACTUALES_ACTIVIDADES VARCHAR(8000),
	@MUJERES_ESTADO_EMBARAZO INT,
	@PERSONAS_SITUACION_ENFERMEDAD_RUINOSA INT,
	@USUARIO INT
AS
BEGIN

	SET NOCOUNT ON;

	IF NOT EXISTS(SELECT 1 FROM RYR_COMUNITARIO.TB_CARACTERIZACION_COMUNIDAD WHERE ID_RYR_COMUNIDAD = @ID_RYR_COMUNIDAD)
		INSERT INTO RYR_COMUNITARIO.TB_CARACTERIZACION_COMUNIDAD
		(ID_RYR_COMUNIDAD,FECHA,ID_ENTIDAD,ID_TERRITORIAL,ID_DEPARTAMENTO,ID_MUNICIPIO,PROFESIONAL,
		CORREO,INTENCIONALIDAD_RAZONES,INTENCIONALIDAD_MANIFESTACION,CONDICIONES_ACTUALES_CARACTERISTICAS,
		CONDICIONES_ACTUALES_ACTIVIDADES,MUJERES_ESTADO_EMBARAZO,PERSONAS_SITUACION_ENFERMEDAD_RUINOSA,
		USUARIO_CREACION,FECHA_CREACION)
		VALUES(@ID_RYR_COMUNIDAD,@FECHA,@ID_ENTIDAD,@ID_TERRITORIAL,@ID_DEPARTAMENTO,@ID_MUNICIPIO,@PROFESIONAL,
		@CORREO,@INTENCIONALIDAD_RAZONES,@INTENCIONALIDAD_MANIFESTACION,@CONDICIONES_ACTUALES_CARACTERISTICAS,
		@CONDICIONES_ACTUALES_ACTIVIDADES,@MUJERES_ESTADO_EMBARAZO,@PERSONAS_SITUACION_ENFERMEDAD_RUINOSA,
		@USUARIO,GETDATE())
	ELSE
		UPDATE RYR_COMUNITARIO.TB_CARACTERIZACION_COMUNIDAD
		SET FECHA = @FECHA,
			ID_ENTIDAD = @ID_ENTIDAD,
			ID_TERRITORIAL = @ID_TERRITORIAL,
			ID_DEPARTAMENTO = @ID_DEPARTAMENTO,
			ID_MUNICIPIO = @ID_MUNICIPIO,
			PROFESIONAL = @PROFESIONAL,
			CORREO = @CORREO,
			INTENCIONALIDAD_RAZONES = @INTENCIONALIDAD_RAZONES,
			INTENCIONALIDAD_MANIFESTACION = @INTENCIONALIDAD_MANIFESTACION,
			CONDICIONES_ACTUALES_CARACTERISTICAS = @CONDICIONES_ACTUALES_CARACTERISTICAS,
			CONDICIONES_ACTUALES_ACTIVIDADES = @CONDICIONES_ACTUALES_ACTIVIDADES,
			MUJERES_ESTADO_EMBARAZO = @MUJERES_ESTADO_EMBARAZO,
			PERSONAS_SITUACION_ENFERMEDAD_RUINOSA = @PERSONAS_SITUACION_ENFERMEDAD_RUINOSA,
			USUARIO_MODIFICA = @USUARIO,
			FECHA_MODIFICA = GETDATE()
		WHERE ID_RYR_COMUNIDAD = @ID_RYR_COMUNIDAD
		
END
GO
