USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_GET_TB_PLAN_ACCION_TRASLADO_CATEGORIA_ENTIDAD]    Script Date: 05/11/2020 10:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_GET_TB_PLAN_ACCION_TRASLADO_CATEGORIA_ENTIDAD] 
@ID_PLAN_ACCION_TRASLADO INT,
@ID_CATEGORIA int 
AS
BEGIN
	SELECT E.ID_ENTIDAD, E.NOMBRE_ENTIDAD	
	FROM  RYR_COMUNITARIO.TB_PLAN_ACCION_TRASLADO_CATEGORIA_ENTIDAD AS A 
	JOIN [RYR_COMUNITARIO].[TB_ENTIDAD] AS E	ON A.ID_ENTIDAD = E.ID_ENTIDAD
	LEFT JOIN dbo.V_DEPARTAMENTOS V ON V.ID_DEPARTAMENTO = E.ID_DEPARTAMENTO						
	LEFT JOIN dbo.TBL_RDANE	D ON D.DAN_CCOD_DEPARTAMENTO = V.ID_DEPARTAMENTO AND D.DAN_NID = E.ID_MUNICIPIO
	WHERE ID_PLAN_ACCION_TRASLADO = @ID_PLAN_ACCION_TRASLADO AND ID_CATEGORIA = @ID_CATEGORIA
END
GO
