USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_GET_PERSONAS_SI_SE_TRASLADAN]    Script Date: 09/11/2020 10:27:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_GET_PERSONAS_SI_SE_TRASLADAN] 
	@ID_COMUNIDAD int
AS
BEGIN		
 SELECT C.ID_PERSONA, C.HOGAR, C.PERSONA +' - '+ C.DOCUMENTO AS PERSONA, C.FECHA_NACIMIENTO, C.SEXO, C.PARENTESCO, C.TELEFONO,
 C.DEPARTAMENTO_RESIDENCIA + ' - ' + C.MUNICIPIO_RESIDENCIA + ' - ' + C.BARRIO_LOCALIDAD_RESIDENCIA + ' - ' + C.DIRECCION_RESIDENCIA AS UBICACION, C.ID_PERSONA_RUV , 
 C.HECHO_VICTIMIZANTE, C.DANE_MUNICIPIO_OCURRENCIA_HECHO,
 C.[IDENTIFICACION],[SALUD],[ATENCION_PSICOSOCIAL],[EDUCACION],[ALIMENTACION],[VIVIENDA],[REUNIFICACION_FAMILIAR],[GENERACION_INGRESOS],[FECHA_MEDICION]
 FROM [RYR_COMUNITARIO].[V_RYR_PERSONAS_CARACTERIZADAS_PARA_TRASLADAR] as C
 WHERE C.ID_RYR_COMUNIDAD = @ID_COMUNIDAD
END
GO
