USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_ELIMINAR_TB_PLAN_ACCION_TRASLADO_ENTIDAD]    Script Date: 05/11/2020 10:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_ELIMINAR_TB_PLAN_ACCION_TRASLADO_ENTIDAD] 
@ID_PLAN_ACCION_TRASLADO INT,
@ID_ENTIDAD INT
AS
BEGIN
	DELETE RYR_COMUNITARIO.TB_PLAN_ACCION_TRASLADO_ENTIDAD WHERE ID_PLAN_ACCION_TRASLADO = @ID_PLAN_ACCION_TRASLADO AND ID_ENTIDAD = @ID_ENTIDAD
END
GO
