USE [Maariv_Desarrollo]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_CLASIFICACION_ACTIVIDAD]    Script Date: 09/11/2020 10:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_CLASIFICACION_ACTIVIDAD](
	[ID_CLASIFICACION_ACTIVIDAD] [int] IDENTITY(1,1) NOT NULL,
	[CLASIFICACION_ACTIVIDAD] [varchar](50) NULL,
 CONSTRAINT [PK_TB_CLASIFICACION_ACTIVIDAD] PRIMARY KEY CLUSTERED 
(
	[ID_CLASIFICACION_ACTIVIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [RYR_COMUNITARIO].[TB_CLASIFICACION_ACTIVIDAD] ON 

INSERT [RYR_COMUNITARIO].[TB_CLASIFICACION_ACTIVIDAD] ([ID_CLASIFICACION_ACTIVIDAD], [CLASIFICACION_ACTIVIDAD]) VALUES (1, N'Asesoría ')
INSERT [RYR_COMUNITARIO].[TB_CLASIFICACION_ACTIVIDAD] ([ID_CLASIFICACION_ACTIVIDAD], [CLASIFICACION_ACTIVIDAD]) VALUES (2, N'Desarrollo productivo ')
INSERT [RYR_COMUNITARIO].[TB_CLASIFICACION_ACTIVIDAD] ([ID_CLASIFICACION_ACTIVIDAD], [CLASIFICACION_ACTIVIDAD]) VALUES (3, N'Dotación')
SET IDENTITY_INSERT [RYR_COMUNITARIO].[TB_CLASIFICACION_ACTIVIDAD] OFF
