USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_GET_CLASIFICACION_ACTIVIDAD]    Script Date: 09/11/2020 10:27:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [RYR_COMUNITARIO].[SP_GET_CLASIFICACION_ACTIVIDAD]
AS
BEGIN
	SET NOCOUNT ON
	SELECT ID_CLASIFICACION_ACTIVIDAD
      ,CLASIFICACION_ACTIVIDAD
	FROM RYR_COMUNITARIO.TB_CLASIFICACION_ACTIVIDAD
	SET NOCOUNT OFF
END
GO
