USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_GET_TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO_EVIDENCIA]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_GET_TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO_EVIDENCIA]
@ID_RELACION INT, @OPCION VARCHAR(100) 
AS
BEGIN
	SET NOCOUNT ON
	IF (@OPCION = 'Traslado')
	BEGIN 
		select ID, ID_BALANCE_TRASLADO AS ID_RELACION, E.ID_TIPO_EVIDENCIA,TE.NOMBRE AS TIPO_EVIDENCIA, URL_ARCHIVO, EXTENSION ,NOMBRE_ARCHIVO
		from [RYR_COMUNITARIO].TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO_EVIDENCIA as E
		JOIN RYR_COMUNITARIO.TB_TIPO_EVIDENCIA AS TE ON E.ID_TIPO_EVIDENCIA =TE.ID_TIPO_EVIDENCIA
		where ID_BALANCE_TRASLADO =@ID_RELACION AND E.ACTIVO = 1
	end
	IF (@OPCION = 'BalanceGI' OR @OPCION = 'BalanceICAT')
	BEGIN 
		select E.ID, [ID_PLAN_RYR_BIEN_SERVICIO] AS ID_RELACION, E.ID_TIPO_EVIDENCIA,TE.NOMBRE AS TIPO_EVIDENCIA, URL_ARCHIVO, EXTENSION ,NOMBRE_ARCHIVO
		from [RYR_COMUNITARIO].[TB_BALANCE_TRASLADO_EVIDENCIA] as E
		JOIN RYR_COMUNITARIO.TB_TIPO_EVIDENCIA AS TE ON E.ID_TIPO_EVIDENCIA =TE.ID_TIPO_EVIDENCIA
		where [ID_PLAN_RYR_BIEN_SERVICIO] =@ID_RELACION AND E.ACTIVO = 1
	end
END
GO
