USE [Maariv_Desarrollo]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_REPORTES]    Script Date: 09/11/2020 10:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_REPORTES](
	[ID_REPORTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](200) NULL,
	[DESCRIPCION] [varchar](max) NOT NULL,
	[PROCEDIMIENTO] [varchar](max) NOT NULL,
	[ACTIVO] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [RYR_COMUNITARIO].[TB_REPORTES] ON 

INSERT [RYR_COMUNITARIO].[TB_REPORTES] ([ID_REPORTE], [NOMBRE], [DESCRIPCION], [PROCEDIMIENTO], [ACTIVO]) VALUES (1, N'Mediciones SSV por comunidad', N'Información relacionda con las mediciones SSV para las comunidades', N'RYR_COMUNITARIO.REPORTE_SSV_COMUNIDADES', 1)
INSERT [RYR_COMUNITARIO].[TB_REPORTES] ([ID_REPORTE], [NOMBRE], [DESCRIPCION], [PROCEDIMIENTO], [ACTIVO]) VALUES (2, N'Planes por municio', N'', N'RYR_COMUNITARIO.REPORTE_PLANES_MUNICIPIO', 1)
SET IDENTITY_INSERT [RYR_COMUNITARIO].[TB_REPORTES] OFF
/****** Object:  Index [PK_REPORTES_1]    Script Date: 09/11/2020 10:27:15 ******/
ALTER TABLE [RYR_COMUNITARIO].[TB_REPORTES] ADD  CONSTRAINT [PK_REPORTES_1] PRIMARY KEY NONCLUSTERED 
(
	[ID_REPORTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
