USE [Maariv_Desarrollo]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_ENTORNOS]    Script Date: 05/11/2020 10:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_ENTORNOS](
	[ID_ENTORNO] [int] NOT NULL,
	[ENTORNO] [varchar](50) NULL,
 CONSTRAINT [PK_TB_ENTORNOS] PRIMARY KEY CLUSTERED 
(
	[ID_ENTORNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
