USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_GET_TB_EVIDENCIAS]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_GET_TB_EVIDENCIAS]
	@ID_CONTROL INT = 0,
	@CONCEPTO VARCHAR(50) = '',
	@ID_EVIDENCIA INT = 0
AS

IF @ID_CONTROL > 0
	SELECT E.ID_EVIDENCIA
		  ,E.ID_TIPO_EVIDENCIA
		  ,TE.NOMBRE AS TIPO_EVIDENCIA
		  ,E.ID_CONTROL
		  ,E.CONCEPTO
		  ,E.URL_ARCHIVO
		  ,E.NOMBRE_ARCHIVO
		  ,E.EXTENSION
		  ,E.USUARIO
		  ,E.FECHA
		  ,E.ACTIVO
	  FROM RYR_COMUNITARIO.TB_EVIDENCIAS E
	  INNER JOIN RYR_COMUNITARIO.TB_TIPO_EVIDENCIA TE ON E.ID_TIPO_EVIDENCIA = TE.ID_TIPO_EVIDENCIA
	  WHERE E.ID_CONTROL = @ID_CONTROL AND E.CONCEPTO = @CONCEPTO AND E.ACTIVO = 1

IF @ID_EVIDENCIA > 0
	SELECT E.ID_EVIDENCIA
			  ,E.ID_TIPO_EVIDENCIA
			  ,TE.NOMBRE AS TIPO_EVIDENCIA
			  ,E.ID_CONTROL
			  ,E.CONCEPTO
			  ,E.URL_ARCHIVO
			  ,E.NOMBRE_ARCHIVO
			  ,E.EXTENSION
			  ,E.USUARIO
			  ,E.FECHA
			  ,E.ACTIVO
		  FROM RYR_COMUNITARIO.TB_EVIDENCIAS E
		  INNER JOIN RYR_COMUNITARIO.TB_TIPO_EVIDENCIA TE ON E.ID_TIPO_EVIDENCIA = TE.ID_TIPO_EVIDENCIA
		  WHERE E.ID_EVIDENCIA = @ID_EVIDENCIA
GO
