USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_RYR_GET_TB_PLAN_ACCION_TRASLADO]    Script Date: 09/11/2020 10:27:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_RYR_GET_TB_PLAN_ACCION_TRASLADO]-- 28
@ID_COMUNIDAD INT
AS
BEGIN

	SET NOCOUNT ON

	DECLARE @TOTAL_SUPERACION_GI_BALANCE INT, @FECHA_MEDICION DATE
	DECLARE @TOTALHOMBRES INT, @TOTALMUJERES INT, @TOTALNINOS INT, @TOTALAMAYORES INT, @TOTALLGBTI INT 
	DECLARE @TOTALHOMBRESRUV INT, @TOTALMUJERESRUV INT, @TOTALNINOSRUV INT, @TOTALAMAYORESRUV INT, @TOTALLGBTIRUV INT 

	SELECT @TOTAL_SUPERACION_GI_BALANCE = SUM(CUMPLE_GENERACION_INGRESOS) 
	FROM  [RYR_COMUNITARIO].[V_RYR_PERSONAS_CARACTERIZADAS_PARA_TRASLADAR]
	WHERE ID_RYR_COMUNIDAD = @ID_COMUNIDAD	

	SELECT 
	@TOTALMUJERES= SUM(CASE WHEN SEXO = 'MUJER' THEN 1 ELSE 0 END)  , 
	@TOTALHOMBRES= SUM(CASE WHEN SEXO = 'HOMBRE' THEN 1 ELSE 0 END) ,
	@TOTALNINOS = SUM (NINO),
	@TOTALAMAYORES = SUM (MAYOR),
	@TOTALMUJERESRUV= SUM(MUJER_RUV)  , 
	@TOTALHOMBRESRUV= SUM(HOMBRE_RUV) ,
	@TOTALNINOSRUV = SUM (NINO),
	@TOTALAMAYORESRUV = SUM (NINO_RUV),
	@TOTALAMAYORESRUV = SUM (MAYOR_RUV),
	@TOTALLGBTI =SUM (LGBTI),
	@TOTALLGBTIRUV =SUM (LGBTIRUV)
	FROM  [RYR_COMUNITARIO].[V_RYR_PERSONAS_CARACTERIZADAS_PARA_TRASLADAR]
	WHERE ID_RYR_COMUNIDAD = 28

	SELECT @FECHA_MEDICION = FECHA_MEDICION
	FROM  [RYR_COMUNITARIO].[V_RYR_PERSONAS_CARACTERIZADAS_PARA_TRASLADAR]
	WHERE ID_RYR_COMUNIDAD = @ID_COMUNIDAD	


	select	ID_PLAN_ACCION_TRASLADO, [ID_COMUNIDAD],NOMBRE_RYR_COMUNIDAD,
	[RYR_COMUNITARIO].FN_CANTIDAD_HOGARES_TRASLADO([ID_COMUNIDAD]) AS  TOTAL_HOGARES_TRASLADAR ,	
	[RYR_COMUNITARIO].FN_CANTIDAD_PERSONAS_TRASLADO([ID_COMUNIDAD]) AS  TOTAL_PERSONAS_TRASLADAR ,	
	[RYR_COMUNITARIO].FN_CANTIDAD_PERSONAS_RUV_TRASLADO([ID_COMUNIDAD]) AS  TOTAL_PERSONAS_TRASLADAR_RUV ,	
	[RYR_COMUNITARIO].[FN_CANTIDAD_PERSONAS_SUPERARON_SSV]([ID_COMUNIDAD]) AS  TOTAL_PERSONAS_SUPERAR_SSV ,	
	ID_MUNICIPIO_SALIDA, D.DAN_CMUNICIPIO AS MUNICIPIO_SALIDA,  D.DAN_CCOD_DEPARTAMENTO AS ID_DEPARTAMENTO_SALIDA , D.DAN_CDEPARTAMENTO AS DEPARTAMENTO_SALIDA ,	
	ID_MUNICIPIO_LLEGADA, DL.DAN_CMUNICIPIO AS MUNICIPIO_LLEGADA ,DL.DAN_CCOD_DEPARTAMENTO AS ID_DEPARTAMENTO_LLEGADA, DL.DAN_CDEPARTAMENTO AS DEPARTAMENTO_LLEGADA, 	
	ID_ENTORNO_SALIDA, CASE WHEN ID_ENTORNO_SALIDA= 1 THEN 'Rural' ELSE 'Urbano' END  AS ENTORNO_SALIDA ,	
	ID_ENTORNO_LLEGADA , CASE WHEN ID_ENTORNO_LLEGADA= 1 THEN 'Rural' ELSE 'Urbano' END AS ENTORNO_LLEGADA, 	
	CORREGIMIENTO_SALIDA ,	CORREGIMIENTO_LLEGADA,
	FECHA_LLEGADA, FECHA_INICIO_TRASLADO , 
	@FECHA_MEDICION as FECHA_MEDICION, 
	0 AS TOTAL_SUPERACION_GI,--PENDIENTE DE CRISTIAN
	@TOTAL_SUPERACION_GI_BALANCE AS TOTAL_SUPERACION_GI_BALANCE,
	A.PROFESIONAL_ELABORA_LISTADO_BALANCE, A.CORREO_PROFESIONAL_ELABORA_LISTADO_BALANCE, A.ID_DT_BALANCE, TER.TER_CTERRITORIO AS DT
	, @TOTALHOMBRES AS TOTALHOMBRES
	, @TOTALMUJERES AS TOTALMUJERES
	, @TOTALNINOS AS TOTALNINOS
	, @TOTALAMAYORES AS TOTALAMAYORES
	, @TOTALLGBTI AS TOTALLGBTI
	, @TOTALHOMBRESRUV AS TOTALHOMBRESRUV
	, @TOTALMUJERESRUV AS TOTALMUJERESRUV
	, @TOTALNINOSRUV AS TOTALNINOSRUV
	, @TOTALAMAYORESRUV AS TOTALAMAYORESRUV
	, @TOTALLGBTIRUV AS TOTALLGBTIRUV
	from RYR_COMUNITARIO.[TB_PLAN_ACCION_TRASLADO] as A
	LEFT JOIN dbo.TBL_RDANE	D ON A.ID_MUNICIPIO_SALIDA = D.DAN_NID 
	LEFT JOIN dbo.TBL_RDANE	DL ON A.ID_MUNICIPIO_LLEGADA = DL.DAN_NID 
	join [dbo].[RYR_COMUNIDADES] as C ON A.ID_COMUNIDAD =ID_RYR_COMUNIDAD
	LEFT OUTER JOIN dbo.TBL_RTERRITORIO AS TER ON A.ID_DT_BALANCE = TER.ID_TERRITORIO
	where A.[ID_COMUNIDAD] = @ID_COMUNIDAD 
	SET NOCOUNT OFF
END


--select * from  RYR_COMUNITARIO.[TB_PLAN_ACCION_TRASLADO] as A
GO
