USE [Maariv_Desarrollo]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_DERECHO]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_DERECHO](
	[ID_DERECHO] [int] NOT NULL,
	[NOMBRE] [varchar](1000) NULL,
	[ACTIVO] [bit] NULL,
 CONSTRAINT [PK_TB_DERECHO] PRIMARY KEY CLUSTERED 
(
	[ID_DERECHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
