USE [Maariv_Desarrollo]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO_EVIDENCIA]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO_EVIDENCIA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_BALANCE_TRASLADO] [int] NOT NULL,
	[ID_TIPO_EVIDENCIA] [int] NOT NULL,
	[URL_ARCHIVO] [varchar](500) NOT NULL,
	[NOMBRE_ARCHIVO] [varchar](500) NOT NULL,
	[EXTENSION] [varchar](10) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[FECHA_SISTEMA] [datetime] NOT NULL,
	[ACTIVO] [bit] NULL,
 CONSTRAINT [PK_TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO_EVIDENCIA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO_EVIDENCIA]  WITH CHECK ADD  CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO_EVIDENCIA_TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO] FOREIGN KEY([ID_BALANCE_TRASLADO])
REFERENCES [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO] ([ID])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO_EVIDENCIA] CHECK CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO_EVIDENCIA_TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO]
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO_EVIDENCIA]  WITH CHECK ADD  CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO_EVIDENCIA_TB_TIPO_EVIDENCIA] FOREIGN KEY([ID_TIPO_EVIDENCIA])
REFERENCES [RYR_COMUNITARIO].[TB_TIPO_EVIDENCIA] ([ID_TIPO_EVIDENCIA])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO_EVIDENCIA] CHECK CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO_EVIDENCIA_TB_TIPO_EVIDENCIA]
GO
