USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_INSERTAR_ACTUALIZAR_TB_PLAN_ACCION_TRASLADO_CATEGORIA]    Script Date: 09/11/2020 10:27:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_INSERTAR_ACTUALIZAR_TB_PLAN_ACCION_TRASLADO_CATEGORIA] 
	@ID_CATEGORIA INT,
	@ID_PLAN_ACCION_TRASLADO int,
	@ID_COMUNIDAD int ,
	@RESULTADO VARCHAR(1000),
	@ACCIONES VARCHAR(1000),
	@OBSERVACIONES VARCHAR(1000),
	@ID_USUARIO INT
AS
BEGIN		
	IF NOT EXISTS( SELECT TOP 1 1 FROM  RYR_COMUNITARIO.TB_PLAN_ACCION_TRASLADO_CATEGORIA WHERE ID_PLAN_ACCION_TRASLADO = @ID_PLAN_ACCION_TRASLADO and ID_CATEGORIA =@ID_CATEGORIA)
	BEGIN	
		DECLARE @FECHA DATETIME
		SET @FECHA = GETDATE()
		INSERT INTO [RYR_COMUNITARIO].TB_PLAN_ACCION_TRASLADO_CATEGORIA  (ID_CATEGORIA, ID_PLAN_ACCION_TRASLADO ,ID_COMUNIDAD ,RESULTADO ,ACCIONES,OBSERVACIONES, ID_USUARIO, FECHA_SISTEMA)   VALUES (@ID_CATEGORIA, @ID_PLAN_ACCION_TRASLADO ,@ID_COMUNIDAD ,@RESULTADO ,@ACCIONES,@OBSERVACIONES, @ID_USUARIO, @FECHA)
		SET @ID_PLAN_ACCION_TRASLADO = SCOPE_IDENTITY() 
	END
	ELSE
	BEGIN
		UPDATE [RYR_COMUNITARIO].TB_PLAN_ACCION_TRASLADO_CATEGORIA  SET RESULTADO= @RESULTADO ,ACCIONES= @ACCIONES,OBSERVACIONES =@OBSERVACIONES  WHERE ID_PLAN_ACCION_TRASLADO =@ID_PLAN_ACCION_TRASLADO and ID_CATEGORIA=@ID_CATEGORIA
	END
END
GO
