USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_GET_PLAN_RYR_TB_DERECHO_NECESIDAD]    Script Date: 05/11/2020 10:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_GET_PLAN_RYR_TB_DERECHO_NECESIDAD] 
@ID_COMUNIDAD INT
AS
BEGIN
	SET NOCOUNT ON	
	SELECT [ID_RYR_COMUNIDAD]
      ,[ID_NECESIDAD]
      ,[DERECHO]
      ,[NECESIDAD]
      ,[NUM_PERSONAS_PENDIENTES_SUPERAR]
      ,[NUM_PERSONAS_SUPERON]
	FROM [RYR_COMUNITARIO].[V_RYR_DERECHOS_NECESIDADES]
	WHERE ID_RYR_COMUNIDAD = @ID_COMUNIDAD
	SET NOCOUNT OFF

END
GO
