USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_INSERTAR_TB_PLAN_ACCION_TRASLADO]    Script Date: 09/11/2020 10:27:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_INSERTAR_TB_PLAN_ACCION_TRASLADO] 
@ID_COMUNIDAD INT,
@ID_PLAN_ACCION_TRASLADO INT OUT
AS
BEGIN		

	IF NOT EXISTS( SELECT TOP 1 1 FROM  RYR_COMUNITARIO.TB_PLAN_ACCION_TRASLADO WHERE ID_COMUNIDAD = @ID_COMUNIDAD)
	BEGIN	
		INSERT INTO [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO]  ([ID_COMUNIDAD],TOTAL_HOGARES_TRASLADAR ,	TOTAL_PERSONAS_TRASLADAR ,	TOTAL_PERSONAS_TRASLADAR_RUV ,	ID_MUNICIPIO_SALIDA ,	ID_MUNICIPIO_LLEGADA ,	ID_ENTORNO_SALIDA ,	ID_ENTORNO_LLEGADA ,	CORREGIMIENTO_SALIDA ,	CORREGIMIENTO_LLEGADA )   VALUES (@ID_COMUNIDAD,0,0,0,0,0,0,0,'COMUNIDAD SALIDA','COMUNIDAD LLEGADA')
		SET @ID_PLAN_ACCION_TRASLADO = SCOPE_IDENTITY() 
	END
	ELSE
	BEGIN
		SELECT TOP 1 @ID_PLAN_ACCION_TRASLADO = ID_PLAN_ACCION_TRASLADO FROM  RYR_COMUNITARIO.TB_PLAN_ACCION_TRASLADO WHERE ID_COMUNIDAD = @ID_COMUNIDAD
	END
END
GO
