USE [Maariv_Desarrollo]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_ALISTAMIENTO]    Script Date: 05/11/2020 10:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_ALISTAMIENTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PLAN_ACCION_TRASLADO] [int] NULL,
	[ID_COMUNIDAD] [int] NULL,
	[FECHA_REGISTRO] [date] NULL,
	[ID_DIRECCION_TERRITORIAL] [int] NULL,
	[ID_MUNICIPIO] [int] NULL,
	[DIRECCION] [varchar](400) NULL,
	[ID_ENTIDAD] [int] NULL,
	[PROFESIONAL_REGISTRO] [varchar](400) NULL,
	[CORREO_ELECTRONICO] [varchar](100) NULL,
	[ID_USUARIO] [int] NULL,
	[FECHA_SISTEMA] [datetime] NULL,
 CONSTRAINT [PK_TB_PLAN_ACCION_TRASLADO_ALISTAMIENTO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_ALISTAMIENTO]  WITH CHECK ADD  CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_ALISTAMIENTO_RYR_COMUNIDADES] FOREIGN KEY([ID_COMUNIDAD])
REFERENCES [dbo].[RYR_COMUNIDADES] ([ID_RYR_COMUNIDAD])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_ALISTAMIENTO] CHECK CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_ALISTAMIENTO_RYR_COMUNIDADES]
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_ALISTAMIENTO]  WITH CHECK ADD  CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_ALISTAMIENTO_TB_ENTIDAD] FOREIGN KEY([ID_ENTIDAD])
REFERENCES [RYR_COMUNITARIO].[TB_ENTIDAD] ([ID_ENTIDAD])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_ALISTAMIENTO] CHECK CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_ALISTAMIENTO_TB_ENTIDAD]
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_ALISTAMIENTO]  WITH CHECK ADD  CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_ALISTAMIENTO_TB_PLAN_ACCION_TRASLADO] FOREIGN KEY([ID_PLAN_ACCION_TRASLADO])
REFERENCES [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO] ([ID_PLAN_ACCION_TRASLADO])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_ALISTAMIENTO] CHECK CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_ALISTAMIENTO_TB_PLAN_ACCION_TRASLADO]
GO
