USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_GET_TB_PLAN_ACCION_TRASLADO_PROFESIONALES]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_GET_TB_PLAN_ACCION_TRASLADO_PROFESIONALES] 
	@ID_PLAN_ACCION_TRASLADO int
AS
BEGIN		
	SELECT DISTINCT ID,PROFESIONAL ,E.ID_ENTIDAD, E.NOMBRE_ENTIDAD	,
	TELEFONO ,	CORREO_ELECTRONICO 
	FROM  RYR_COMUNITARIO.TB_PLAN_ACCION_TRASLADO_PROFESIONALES  AS A
	JOIN [RYR_COMUNITARIO].[TB_ENTIDAD] AS E	ON A.ID_ENTIDAD = E.ID_ENTIDAD
	LEFT JOIN dbo.V_DEPARTAMENTOS V ON V.ID_DEPARTAMENTO = E.ID_DEPARTAMENTO						
	LEFT JOIN dbo.TBL_RDANE	D ON D.DAN_CCOD_DEPARTAMENTO = V.ID_DEPARTAMENTO AND D.DAN_NID = E.ID_MUNICIPIO
	WHERE ID_PLAN_ACCION_TRASLADO = @ID_PLAN_ACCION_TRASLADO
END
GO
