USE [Maariv_Desarrollo]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD](
	[ID_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD] [int] IDENTITY(1,1) NOT NULL,
	[ID_PLAN_RYR_BIEN_SERVICIO] [int] NOT NULL,
	[ID_CLASIFICACION_ACTIVIDAD] [int] NOT NULL,
	[ACTIVIDAD] [varchar](1000) NULL,
	[CUMPLIDA] [bit] NULL,
	[FECHA_ACTIVIDAD] [smalldatetime] NULL,
	[RESPONSABLE] [varchar](1000) NULL,
	[COSTO] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
