USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_INSERTAR_ACTUALIZAR_TB_PLAN_ACCION_TRASLADO_ALISTAMIENTO]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_INSERTAR_ACTUALIZAR_TB_PLAN_ACCION_TRASLADO_ALISTAMIENTO]
	@ID int,
	@ID_PLAN_ACCION_TRASLADO int,
	@ID_COMUNIDAD int ,
	@FECHA_REGISTRO DATE,
	@ID_DIRECCION_TERRITORIAL INT,
	@ID_MUNICIPIO INT,
	@DIRECCION VARCHAR(400),
	@ID_ENTIDAD INT,
	@PROFESIONAL_REGISTRO VARCHAR(400),
	@CORREO_ELECTRONICO VARCHAR(100),
	@ID_USUARIO INT
AS
BEGIN		
	IF NOT EXISTS( SELECT TOP 1 1 FROM  RYR_COMUNITARIO.TB_PLAN_ACCION_TRASLADO_ALISTAMIENTO WHERE ID_PLAN_ACCION_TRASLADO= @ID_PLAN_ACCION_TRASLADO)
	BEGIN	
		DECLARE @FECHA DATETIME
		SET @FECHA = GETDATE()
		INSERT INTO [RYR_COMUNITARIO].TB_PLAN_ACCION_TRASLADO_ALISTAMIENTO  (ID_PLAN_ACCION_TRASLADO ,ID_COMUNIDAD  ,FECHA_REGISTRO ,ID_DIRECCION_TERRITORIAL ,ID_MUNICIPIO ,DIRECCION ,ID_ENTIDAD ,PROFESIONAL_REGISTRO,CORREO_ELECTRONICO, ID_USUARIO, FECHA_SISTEMA )   VALUES (@ID_PLAN_ACCION_TRASLADO ,@ID_COMUNIDAD  ,@FECHA_REGISTRO ,@ID_DIRECCION_TERRITORIAL ,@ID_MUNICIPIO ,@DIRECCION ,@ID_ENTIDAD ,@PROFESIONAL_REGISTRO,@CORREO_ELECTRONICO , @ID_USUARIO, @FECHA)		
	END
	ELSE
	BEGIN
		UPDATE [RYR_COMUNITARIO].TB_PLAN_ACCION_TRASLADO_ALISTAMIENTO  SET FECHA_REGISTRO=@FECHA_REGISTRO ,ID_DIRECCION_TERRITORIAL =@ID_DIRECCION_TERRITORIAL ,ID_MUNICIPIO =@ID_MUNICIPIO ,DIRECCION =@DIRECCION ,ID_ENTIDAD =@ID_ENTIDAD ,PROFESIONAL_REGISTRO=@PROFESIONAL_REGISTRO, CORREO_ELECTRONICO=@CORREO_ELECTRONICO  WHERE ID_PLAN_ACCION_TRASLADO=@ID_PLAN_ACCION_TRASLADO
	END
END
GO
