USE [Maariv_Desarrollo]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_ENTIDAD]    Script Date: 09/11/2020 10:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_ENTIDAD](
	[ID_ENTIDAD] [int] IDENTITY(1,1) NOT NULL,
	[ID_DEPARTAMENTO] [int] NULL,
	[ID_MUNICIPIO] [int] NULL,
	[TIPO_ENTIDAD] [varchar](100) NULL,
	[NOMBRE_ENTIDAD] [varchar](200) NULL,
	[FECHA_CREACION] [smalldatetime] NULL,
	[USUARIO_CREACION] [int] NULL,
	[FECHA_MODIFICA] [smalldatetime] NULL,
	[USUARIO_MODIFICA] [int] NULL,
	[ID_SUBTIPO_ENTIDAD] [int] NULL,
	[ACTIVO] [bit] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [RYR_COMUNITARIO].[TB_ENTIDAD] ON 

INSERT [RYR_COMUNITARIO].[TB_ENTIDAD] ([ID_ENTIDAD], [ID_DEPARTAMENTO], [ID_MUNICIPIO], [TIPO_ENTIDAD], [NOMBRE_ENTIDAD], [FECHA_CREACION], [USUARIO_CREACION], [FECHA_MODIFICA], [USUARIO_MODIFICA], [ID_SUBTIPO_ENTIDAD], [ACTIVO]) VALUES (1, 5, 5001, N'TERRITORIAL', N'ALCALDIA DE ANTIOQUIA - MEDELLIN', CAST(N'2020-10-27T16:15:00' AS SmallDateTime), NULL, NULL, NULL, NULL, 1)
INSERT [RYR_COMUNITARIO].[TB_ENTIDAD] ([ID_ENTIDAD], [ID_DEPARTAMENTO], [ID_MUNICIPIO], [TIPO_ENTIDAD], [NOMBRE_ENTIDAD], [FECHA_CREACION], [USUARIO_CREACION], [FECHA_MODIFICA], [USUARIO_MODIFICA], [ID_SUBTIPO_ENTIDAD], [ACTIVO]) VALUES (2, 5, 5002, N'TERRITORIAL', N'ALCALDIA DE ANTIOQUIA - ABEJORRAL', CAST(N'2020-10-27T16:15:00' AS SmallDateTime), NULL, NULL, NULL, NULL, 1)
INSERT [RYR_COMUNITARIO].[TB_ENTIDAD] ([ID_ENTIDAD], [ID_DEPARTAMENTO], [ID_MUNICIPIO], [TIPO_ENTIDAD], [NOMBRE_ENTIDAD], [FECHA_CREACION], [USUARIO_CREACION], [FECHA_MODIFICA], [USUARIO_MODIFICA], [ID_SUBTIPO_ENTIDAD], [ACTIVO]) VALUES (3, 5, 5004, N'TERRITORIAL', N'ALCALDIA DE ANTIOQUIA - ABRIAQUI', CAST(N'2020-10-27T16:15:00' AS SmallDateTime), NULL, NULL, NULL, NULL, 1)
GO
SET IDENTITY_INSERT [RYR_COMUNITARIO].[TB_ENTIDAD] OFF
/****** Object:  Index [PK_ENTIDAD_1]    Script Date: 09/11/2020 10:27:15 ******/
ALTER TABLE [RYR_COMUNITARIO].[TB_ENTIDAD] ADD  CONSTRAINT [PK_ENTIDAD_1] PRIMARY KEY NONCLUSTERED 
(
	[ID_ENTIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
