USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_GET_PERSONAS_COMUNIDAD]    Script Date: 05/11/2020 10:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_GET_PERSONAS_COMUNIDAD]
	@ID_COMUNIDAD INT
AS
BEGIN
	SET NOCOUNT ON;
	SELECT ROW_NUMBER() OVER (PARTITION BY PC.ID_HOGAR ORDER BY PC.ID_PERSONA) AS ID_HOGAR_PERSONA
	  ,PC.[ID_RYR_COMUNIDAD]
      ,PC.[ID_HOGAR]
      ,PC.[ID_PERSONA]
      ,PC.[PRIMER_NOMBRE]
      ,PC.[SEGUNDO_NOMBRE]
      ,PC.[PRIMER_APELLIDO]
      ,PC.[SEGUNDO_APELLIDO]
      ,PC.[TIPO_DOCUMENTO]
      ,PC.[NUMERO_DOCUMENTO]
      ,PC.[FECHA_NACIMIENTO]
      ,PC.[SEXO]
      ,PC.[PARENTESCO]
      ,PC.[TELEFONO_FIJO]
      ,PC.[TELEFONO_CELULAR]
      ,PC.[DEPARTAMENTO_RESIDENCIA]
      ,PC.[MUNICIPIO_RESIDENCIA]
      ,PC.[VEREDA_RESIDENCIA]
      ,PC.[CORREGIMIENTO_RESIDENCIA]
      ,PC.[BARRIO_LOCALIDAD_RESIDENCIA]
      ,PC.[DIRECCION_RESIDENCIA]
      ,PC.[DEPARTAMENTO_INTENCION]
      ,PC.[MUNICIPIO_INTENCION]
      ,PC.[CORREGIMIENTO_INTENCION]
      ,PC.[VEREDA_INTENCION]
      ,PC.[BARRIO_LOCALIDAD_INTENCION]
      ,PC.[TIPO_SOLUCION]
      ,PC.[ESTADO_RUV]
      ,PC.[PERSONA]
      ,PC.[DOCUMENTO]
      ,PC.[EDAD_ANOS]
      ,PC.[ID_RYR_HOGAR_ACTUAL]
      ,PC.[ID_PERSONA_RUV]
      ,PC.[HECHO_VICTIMIZANTE]
      ,PC.[DANE_MUNICIPIO_OCURRENCIA_HECHO]
      ,PC.[IDENTIFICACION]
      ,PC.[SALUD]
      ,PC.[ATENCION_PSICOSOCIAL]
      ,PC.[EDUCACION]
      ,PC.[ALIMENTACION]
      ,PC.[VIVIENDA]
      ,PC.[REUNIFICACION_FAMILIAR]
      ,PC.[GENERACION_INGRESOS]
      ,PC.[FECHA_MEDICION]
      ,PC.[SALIDA_SSV]
      ,PC.[SUPERA_SSV]
      ,PC.[CUMPLE_SALUD]
      ,PC.[CUMPLE_IDENTIFICACION]
      ,PC.[CUMPLE_ATENCION_PSICOSOCIAL]
      ,PC.[CUMPLE_EDUCACION]
      ,PC.[CUMPLE_ALIMENTACION]
      ,PC.[CUMPLE_VIVIENDA]
      ,PC.[CUMPLE_REUNIFICACION_FAMILIAR]
      ,PC.[CUMPLE_GENERACION_INGRESOS]
      ,PC.[NO_CUMPLE_SALUD]
      ,PC.[NO_CUMPLE_IDENTIFICACION]
      ,PC.[NO_CUMPLE_ATENCION_PSICOSOCIAL]
      ,PC.[NO_CUMPLE_EDUCACION]
      ,PC.[NO_CUMPLE_ALIMENTACION]
      ,PC.[NO_CUMPLE_VIVIENDA]
      ,PC.[NO_CUMPLE_REUNIFICACION_FAMILIAR]
      ,PC.[NO_CUMPLE_GENERACION_INGRESOS]
	  ,ISNULL(CCP.REUNIFICACION_FAMILIAR,0) AS REUNIFICACION_FAMILIAR_CARACTERIZACION
	  ,ISNULL(CCP.ATENCION_PSICOSOCIAL,0) AS ATENCION_PSICOSOCIAL_CARACTERIZACION
  FROM RYR_COMUNITARIO.V_RYR_PERSONAS_COMUNIDAD PC
  LEFT JOIN RYR_COMUNITARIO.TB_CARACTERIZACION_COMUNIDAD CC ON PC.ID_RYR_COMUNIDAD = CC.ID_RYR_COMUNIDAD
  LEFT JOIN RYR_COMUNITARIO.TB_CARACTERIZACION_COMUNIDAD_HOGAR_PERSONA CCP ON PC.ID_PERSONA = CCP.ID_PERSONA
  where PC.ID_RYR_COMUNIDAD = @ID_COMUNIDAD
  ORDER BY PC.[ID_HOGAR],PC.[PRIMER_APELLIDO]

END
GO
