USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_INSERTAR_ACTUALIZAR_TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO_EVIDENCIA]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_INSERTAR_ACTUALIZAR_TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO_EVIDENCIA]
@ID_RELACION INT,
@OPCION VARCHAR(100),
@ID_TIPO_EVIDENCIA int,
@URL_ARCHIVO VARCHAR (500),
@NOMBRE_ARCHIVO VARCHAR (500),
@EXTENSION VARCHAR(10),
@ID_USUARIO INT,
@ACTIVO BIT,
@ID INT OUT
AS
BEGIN		
	DECLARE @FECHA DATETIME
	SET @FECHA = GETDATE()
	
	IF (@OPCION = 'Traslado')
	BEGIN 
		IF (@ACTIVO = 1)
		BEGIN		
			INSERT INTO [RYR_COMUNITARIO].TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO_EVIDENCIA  (ID_BALANCE_TRASLADO, ID_TIPO_EVIDENCIA, URL_ARCHIVO,NOMBRE_ARCHIVO,EXTENSION, ID_USUARIO, FECHA_SISTEMA, ACTIVO) 
																					   VALUES (@ID_RELACION, @ID_TIPO_EVIDENCIA, @URL_ARCHIVO, @NOMBRE_ARCHIVO,@EXTENSION, @ID_USUARIO, @FECHA,@ACTIVO)

		END
		ELSE
		BEGIN
			UPDATE [RYR_COMUNITARIO].TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO_EVIDENCIA  SET ACTIVO = 0 WHERE [ID] =@ID
		END	
	END
		IF (@OPCION = 'BalanceGI' OR @OPCION = 'BalanceICAT')
	BEGIN 
		DECLARE @ID_BALANCE_TRASLADO INT
		SET @ID_BALANCE_TRASLADO =@ID_RELACION
		IF (@ACTIVO = 1)
		BEGIN				
			INSERT INTO [RYR_COMUNITARIO].[TB_BALANCE_TRASLADO_EVIDENCIA]  ([ID_PLAN_RYR_BIEN_SERVICIO], ID_TIPO_EVIDENCIA, URL_ARCHIVO,NOMBRE_ARCHIVO,EXTENSION, ID_USUARIO, FECHA_SISTEMA, ACTIVO) 
																					   VALUES (@ID_RELACION, @ID_TIPO_EVIDENCIA, @URL_ARCHIVO, @NOMBRE_ARCHIVO,@EXTENSION, @ID_USUARIO, @FECHA,@ACTIVO)

		END
		ELSE
		BEGIN
			UPDATE [RYR_COMUNITARIO].[TB_BALANCE_TRASLADO_EVIDENCIA]  SET ACTIVO = 0 WHERE [ID] =@ID
		END	
	END


END
GO
