USE [Maariv_Desarrollo]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD_HOGAR_PERSONA]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD_HOGAR_PERSONA](
	[ID_CARACTERIZACION_COMUNIDAD_HOGAR] [int] IDENTITY(1,1) NOT NULL,
	[ID_PERSONA] [int] NOT NULL,
	[REUNIFICACION_FAMILIAR] [bit] NULL,
	[ATENCION_PSICOSOCIAL] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CARACTERIZACION_COMUNIDAD_HOGAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
