USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[GET_DATOS_REPORTES]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[GET_DATOS_REPORTES]
AS
	SELECT ID_REPORTE,NOMBRE,DESCRIPCION,PROCEDIMIENTO FROM  [RYR_COMUNITARIO].[TB_REPORTES] WHERE ACTIVO = 1	
GO
