USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_INSERTAR_TB_PLAN_ACCION_TRASLADO_ENTIDAD]    Script Date: 09/11/2020 10:27:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_INSERTAR_TB_PLAN_ACCION_TRASLADO_ENTIDAD] 
@ID_PLAN_ACCION_TRASLADO INT,
@ID_ENTIDAD INT,
@ID_USUARIO INT
AS
BEGIN
	DECLARE @FECHA DATETIME
	SET @FECHA = GETDATE()

	SET IDENTITY_INSERT RYR_COMUNITARIO.TB_PLAN_ACCION_TRASLADO_ENTIDAD ON
	IF NOT EXISTS( SELECT TOP 1 1 FROM  RYR_COMUNITARIO.TB_PLAN_ACCION_TRASLADO_ENTIDAD WHERE ID_PLAN_ACCION_TRASLADO = @ID_PLAN_ACCION_TRASLADO AND ID_ENTIDAD = @ID_ENTIDAD)
	BEGIN
		INSERT INTO RYR_COMUNITARIO.TB_PLAN_ACCION_TRASLADO_ENTIDAD (ID_PLAN_ACCION_TRASLADO, ID_ENTIDAD, ID_USUARIO, FECHA_SISTEMA) VALUES (@ID_PLAN_ACCION_TRASLADO, @ID_ENTIDAD, @ID_USUARIO, @FECHA)
	END
END
GO
