USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_GET_BALANCE_TRASLADO_EVIDENCIA]    Script Date: 09/11/2020 10:27:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_GET_BALANCE_TRASLADO_EVIDENCIA]
@ID_PLAN_RYR_BIEN_SERVICIO INT
AS
BEGIN
	SET NOCOUNT ON
	select E.ID, [ID_PLAN_RYR_BIEN_SERVICIO] AS ID_RELACION, E.ID_TIPO_EVIDENCIA,TE.NOMBRE AS TIPO_EVIDENCIA, URL_ARCHIVO, EXTENSION ,NOMBRE_ARCHIVO
	from [RYR_COMUNITARIO].[TB_BALANCE_TRASLADO_EVIDENCIA] as E
	JOIN RYR_COMUNITARIO.TB_TIPO_EVIDENCIA AS TE ON E.ID_TIPO_EVIDENCIA =TE.ID_TIPO_EVIDENCIA
	where [ID_PLAN_RYR_BIEN_SERVICIO] =@ID_PLAN_RYR_BIEN_SERVICIO AND E.ACTIVO = 1
END
GO
