USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_ESTADO_PLAN_RYR]    Script Date: 09/11/2020 10:27:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_ESTADO_PLAN_RYR]    
	
AS
BEGIN
	SET NOCOUNT ON
	
	SELECT 
		ID_ESTADO_PLAN_RYR,
		ESTADO_PLAN_RYR
	FROM RYR_COMUNITARIO.TB_ESTADO_PLAN_RYR

	SET NOCOUNT OFF
END
GO
