USE [Maariv_Desarrollo]
GO
/****** Object:  UserDefinedFunction [RYR_COMUNITARIO].[FN_CANTIDAD_PERSONAS_SUPERARON_SSV]    Script Date: 09/11/2020 10:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [RYR_COMUNITARIO].[FN_CANTIDAD_PERSONAS_SUPERARON_SSV] ( @ID_COMUNIDAD INT)
RETURNS  INT
AS
BEGIN
	DECLARE @CANTIDAD INT
	select @CANTIDAD= SUM (SUPERA_SSV )
	from  [RYR_COMUNITARIO].[V_RYR_PERSONAS_CARACTERIZADAS_PARA_TRASLADAR] as c
	WHERE C.ID_RYR_COMUNIDAD = @ID_COMUNIDAD and C.ID_PERSONA_RUV >0
	AND C.ID_PERSONA  NOT IN (SELECT ID_PERSONA FROM [RYR_COMUNITARIO].TB_PLAN_ACCION_TRASLADO_PERSONA_NO_TRASLADA AS NT 
								WHERE C.ID_PERSONA =NT.ID_PERSONA AND C.ID_RYR_COMUNIDAD =NT.ID_COMUNIDAD AND NT.ELIMINADO = 0)	
	RETURN @CANTIDAD
END	
GO
