USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_RYR_GET_BALANCE_TRASLADO_TB_DERECHO_NECESIDAD]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_RYR_GET_BALANCE_TRASLADO_TB_DERECHO_NECESIDAD] 
@ID_PLAN_ACCION_TRASLADO INT
AS
BEGIN
	SET NOCOUNT ON	
	IF EXISTS ( SELECT TOP 1 1  FROM RYR_COMUNITARIO.TB_BALANCE_TRASLADO_TB_DERECHO_NECESIDAD WHERE ID_PLAN_ACCION_TRASLADO = @ID_PLAN_ACCION_TRASLADO)
	BEGIN 
		select	N.ID_NECESIDAD, D.NOMBRE AS DERECHO, N.NOMBRE AS NECESIDAD, B.NUM_PERSONAS_PENDIENTES_SUPERAR, B.NUM_PERSONAS_SUPERON,FECHA_SISTEMA
		from RYR_COMUNITARIO.TB_DERECHO AS D
		JOIN RYR_COMUNITARIO.TB_DERECHO_NECESIDAD AS N ON D.ID_DERECHO = N.ID_DERECHO
		LEFT OUTER JOIN  RYR_COMUNITARIO.TB_BALANCE_TRASLADO_TB_DERECHO_NECESIDAD AS B ON N.ID_NECESIDAD = B.ID_NECESIDAD AND B.ID_PLAN_ACCION_TRASLADO =@ID_PLAN_ACCION_TRASLADO
		where N.ACTIVO = 1 AND D.ACTIVO = 1
	END
	ELSE
	BEGIN
		DECLARE @ID_COMUNIDAD INT
		SELECT @ID_COMUNIDAD = ID_COMUNIDAD FROM RYR_COMUNITARIO.TB_PLAN_ACCION_TRASLADO WHERE ID_PLAN_ACCION_TRASLADO=@ID_PLAN_ACCION_TRASLADO
		SELECT ID_NECESIDAD, DERECHO,NECESIDAD,NUM_PERSONAS_PENDIENTES_SUPERAR,NUM_PERSONAS_SUPERON,FECHA_SISTEMA FROM [RYR_COMUNITARIO].[V_RYR_SSV]  WHERE ID_RYR_COMUNIDAD  = @ID_COMUNIDAD
		ORDER BY ID_NECESIDAD
	SET NOCOUNT OFF
	END
END
GO
