USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_INSERTAR_ACTUALIZAR_TB_PLAN_ACCION_TRASLADO_PARA_EL_BALANCE]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_INSERTAR_ACTUALIZAR_TB_PLAN_ACCION_TRASLADO_PARA_EL_BALANCE] 
@ID_COMUNIDAD INT,
@ID_PLAN_ACCION_TRASLADO INT,
@ID_DT_BALANCE INT,
@PROFESIONAL_ELABORA_LISTADO_BALANCE VARCHAR(200),
@CORREO_PROFESIONAL_ELABORA_LISTADO_BALANCE VARCHAR(200),
@FECHA_MEDICION_SSV DATE,
@ID_USUARIO_BALANCE INT 
AS
BEGIN		
	IF EXISTS( SELECT TOP 1 1 FROM  RYR_COMUNITARIO.TB_PLAN_ACCION_TRASLADO WHERE ID_COMUNIDAD = @ID_COMUNIDAD AND ID_PLAN_ACCION_TRASLADO=@ID_PLAN_ACCION_TRASLADO)
	BEGIN	
		DECLARE @FECHA_SISTEMA_BALANCE DATETIME
		SET @FECHA_SISTEMA_BALANCE = GETDATE()
		UPDATE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO]  SET ID_DT_BALANCE=@ID_DT_BALANCE, PROFESIONAL_ELABORA_LISTADO_BALANCE=@PROFESIONAL_ELABORA_LISTADO_BALANCE,CORREO_PROFESIONAL_ELABORA_LISTADO_BALANCE=@CORREO_PROFESIONAL_ELABORA_LISTADO_BALANCE,
		FECHA_MEDICION_SSV=@FECHA_MEDICION_SSV,FECHA_SISTEMA_BALANCE=@FECHA_SISTEMA_BALANCE,ID_USUARIO_BALANCE=@ID_USUARIO_BALANCE
		WHERE [ID_COMUNIDAD] =@ID_COMUNIDAD AND ID_PLAN_ACCION_TRASLADO=@ID_PLAN_ACCION_TRASLADO
	END
END
GO
