USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_RYR_GET_CATEGORIA_TRASLADO_POR_ID_PLAN_TRASLADO]    Script Date: 09/11/2020 10:27:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_RYR_GET_CATEGORIA_TRASLADO_POR_ID_PLAN_TRASLADO] 
@ID_PLAN_ACCION_TRASLADO INT
AS
BEGIN
	SET NOCOUNT ON
	select	A.ID_CATEGORIA as 'N°', A.NOMBRE,B.RESULTADO,B.ACCIONES, B.OBSERVACIONES 
	from RYR_COMUNITARIO.TB_CATEGORIA_TRASLADO AS A
	LEFT OUTER JOIN  RYR_COMUNITARIO.TB_PLAN_ACCION_TRASLADO_CATEGORIA AS B ON A.ID_CATEGORIA = B.ID_CATEGORIA AND B.ID_PLAN_ACCION_TRASLADO = @ID_PLAN_ACCION_TRASLADO
	where A.ACTIVO = 1
	SET NOCOUNT OFF
END
GO
