USE [Maariv_Desarrollo]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD_HOGAR]    Script Date: 09/11/2020 10:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD_HOGAR](
	[ID_CARACTERIZACION_COMUNIDAD_HOGAR] [int] IDENTITY(1,1) NOT NULL,
	[ID_CARACTERIZACION_COMUNIDAD] [int] NOT NULL,
	[ID_CONFORMAICON_HOGAR] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CARACTERIZACION_COMUNIDAD_HOGAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD_HOGAR] ON 

INSERT [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD_HOGAR] ([ID_CARACTERIZACION_COMUNIDAD_HOGAR], [ID_CARACTERIZACION_COMUNIDAD], [ID_CONFORMAICON_HOGAR]) VALUES (1, 1, 26863)
INSERT [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD_HOGAR] ([ID_CARACTERIZACION_COMUNIDAD_HOGAR], [ID_CARACTERIZACION_COMUNIDAD], [ID_CONFORMAICON_HOGAR]) VALUES (2, 1, 26865)
INSERT [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD_HOGAR] ([ID_CARACTERIZACION_COMUNIDAD_HOGAR], [ID_CARACTERIZACION_COMUNIDAD], [ID_CONFORMAICON_HOGAR]) VALUES (3, 1, 26866)
GO
SET IDENTITY_INSERT [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD_HOGAR] OFF
ALTER TABLE [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD_HOGAR]  WITH CHECK ADD FOREIGN KEY([ID_CARACTERIZACION_COMUNIDAD])
REFERENCES [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD] ([ID_CARACTERIZACION_COMUNIDAD])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD_HOGAR]  WITH CHECK ADD  CONSTRAINT [FK_TB_CARACTERIZACION_COMUNIDAD_HOGAR_RYR_HOGAR_ACTUAL] FOREIGN KEY([ID_CONFORMAICON_HOGAR])
REFERENCES [dbo].[RYR_HOGAR_ACTUAL] ([ID_RYR_HOGAR_ACTUAL])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD_HOGAR] CHECK CONSTRAINT [FK_TB_CARACTERIZACION_COMUNIDAD_HOGAR_RYR_HOGAR_ACTUAL]
GO
