USE [Maariv_Desarrollo]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_INVENTARIO_HOGAR]    Script Date: 05/11/2020 10:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_INVENTARIO_HOGAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PLAN_ACCION_TRASLADO] [int] NULL,
	[ID_COMUNIDAD] [int] NULL,
	[ID_HOGAR] [int] NULL,
	[ESTUFAS] [int] NULL,
	[NEVERAS] [int] NULL,
	[UTENCILIOS_COCINA] [int] NULL,
	[CAMAS] [int] NULL,
	[COLCHONES] [int] NULL,
	[COBIJAS] [int] NULL,
	[SOFAS] [int] NULL,
	[SILLAS] [int] NULL,
	[MESAS] [int] NULL,
	[EQUIPOS_DE_SONIDO] [int] NULL,
	[JUGUTES_ROPA] [int] NULL,
	[BICICLETAS] [int] NULL,
	[MOTOS] [int] NULL,
	[TULAS] [int] NULL,
	[PESO] [int] NULL,
	[ROTULACION] [bit] NULL,
	[ID_USUARIO] [int] NULL,
	[FECHA_SISTEMA] [datetime] NULL,
 CONSTRAINT [PK_TB_PLAN_ACCION_TRASLADO_INVENTARIO_HOGAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_INVENTARIO_HOGAR]  WITH CHECK ADD  CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_INVENTARIO_HOGAR_RYR_COMUNIDADES] FOREIGN KEY([ID_COMUNIDAD])
REFERENCES [dbo].[RYR_COMUNIDADES] ([ID_RYR_COMUNIDAD])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_INVENTARIO_HOGAR] CHECK CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_INVENTARIO_HOGAR_RYR_COMUNIDADES]
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_INVENTARIO_HOGAR]  WITH CHECK ADD  CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_INVENTARIO_HOGAR_TB_PLAN_ACCION_TRASLADO] FOREIGN KEY([ID_PLAN_ACCION_TRASLADO])
REFERENCES [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO] ([ID_PLAN_ACCION_TRASLADO])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_INVENTARIO_HOGAR] CHECK CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_INVENTARIO_HOGAR_TB_PLAN_ACCION_TRASLADO]
GO
