USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_INSERTAR_ACTUALIZAR_TB_PLAN_ACCION_TRASLADO_INVENTARIO_HOGAR]    Script Date: 05/11/2020 10:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_INSERTAR_ACTUALIZAR_TB_PLAN_ACCION_TRASLADO_INVENTARIO_HOGAR]
	@ID int ,
	@ID_PLAN_ACCION_TRASLADO int,
	@ID_COMUNIDAD int ,
	@ID_HOGAR int ,
	@ESTUFAS INT ,
	@NEVERAS INT ,
	@UTENCILIOS_COCINA INT ,
	@CAMAS INT ,
	@COLCHONES INT ,
	@COBIJAS INT ,
	@SOFAS INT ,
	@SILLAS INT ,
	@MESAS INT ,
	@EQUIPOS_DE_SONIDO INT ,
	@JUGUTES_ROPA INT ,
	@BICICLETAS INT ,
	@MOTOS INT ,
	@TULAS INT ,
	@PESO INT ,
	@ROTULACION BIT,
	@ID_USUARIO INT
AS
BEGIN
	IF NOT EXISTS( SELECT TOP 1 1 FROM  RYR_COMUNITARIO.TB_PLAN_ACCION_TRASLADO_INVENTARIO_HOGAR WHERE ID_HOGAR =@ID_HOGAR)
	BEGIN	
		DECLARE @FECHA DATETIME
		SET @FECHA = GETDATE()

		INSERT INTO [RYR_COMUNITARIO].TB_PLAN_ACCION_TRASLADO_INVENTARIO_HOGAR  (ID_PLAN_ACCION_TRASLADO ,ID_COMUNIDAD ,ID_HOGAR ,ESTUFAS,NEVERAS ,UTENCILIOS_COCINA ,CAMAS ,COLCHONES ,
																  COBIJAS ,SOFAS ,SILLAS ,MESAS ,EQUIPOS_DE_SONIDO ,JUGUTES_ROPA ,BICICLETAS ,MOTOS ,TULAS ,PESO,ROTULACION, ID_USUARIO, FECHA_SISTEMA )   	
		VALUES (@ID_PLAN_ACCION_TRASLADO ,@ID_COMUNIDAD ,@ID_HOGAR ,@ESTUFAS ,@NEVERAS ,@UTENCILIOS_COCINA ,@CAMAS ,@COLCHONES ,@COBIJAS ,@SOFAS ,@SILLAS ,@MESAS ,
				@EQUIPOS_DE_SONIDO ,@JUGUTES_ROPA ,@BICICLETAS ,@MOTOS ,@TULAS ,@PESO ,@ROTULACION , @ID_USUARIO, @FECHA)
		SET @ID = SCOPE_IDENTITY() 
	END
	ELSE
	BEGIN
		UPDATE [RYR_COMUNITARIO].TB_PLAN_ACCION_TRASLADO_INVENTARIO_HOGAR  SET ESTUFAS=@ESTUFAS ,NEVERAS=@NEVERAS ,UTENCILIOS_COCINA=@UTENCILIOS_COCINA ,CAMAS=@CAMAS ,COLCHONES=@COLCHONES ,
																COBIJAS=@COBIJAS ,SOFAS=@SOFAS ,SILLAS=@SILLAS ,MESAS=@MESAS ,EQUIPOS_DE_SONIDO=@EQUIPOS_DE_SONIDO ,
																JUGUTES_ROPA= @JUGUTES_ROPA ,BICICLETAS=@BICICLETAS ,MOTOS= @MOTOS ,TULAS= @TULAS ,PESO=@PESO ,ROTULACION=@ROTULACION  
																FROM  RYR_COMUNITARIO.TB_PLAN_ACCION_TRASLADO_INVENTARIO_HOGAR 
																WHERE ID_HOGAR =@ID_HOGAR
	END

END

GO
