USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_SET_PERSONAS_COMUNIDAD]    Script Date: 09/11/2020 10:27:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [RYR_COMUNITARIO].[SP_SET_PERSONAS_COMUNIDAD]
	@ID_PERSONA INT,
	@REUNIFICACION_FAMILIAR BIT,
	@ATENCION_PSICOSOCIAL BIT
AS
BEGIN
	IF NOT EXISTS(SELECT 1 FROM RYR_COMUNITARIO.TB_CARACTERIZACION_COMUNIDAD_HOGAR_PERSONA WHERE ID_PERSONA = @ID_PERSONA)
		INSERT INTO RYR_COMUNITARIO.TB_CARACTERIZACION_COMUNIDAD_HOGAR_PERSONA
		(ID_PERSONA,REUNIFICACION_FAMILIAR,ATENCION_PSICOSOCIAL)
		VALUES (@ID_PERSONA,@REUNIFICACION_FAMILIAR,@ATENCION_PSICOSOCIAL)
	ELSE
		UPDATE RYR_COMUNITARIO.TB_CARACTERIZACION_COMUNIDAD_HOGAR_PERSONA 
		SET REUNIFICACION_FAMILIAR = @REUNIFICACION_FAMILIAR, ATENCION_PSICOSOCIAL = @ATENCION_PSICOSOCIAL
		WHERE ID_PERSONA = @ID_PERSONA
END
GO
