USE [Maariv_Desarrollo]
GO
/****** Object:  View [RYR_COMUNITARIO].[V_RYR_PERSONAS_COMUNIDAD]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [RYR_COMUNITARIO].[V_RYR_PERSONAS_COMUNIDAD]
AS
	SELECT DISTINCT
	C.ID_RYR_COMUNIDAD,
	HA.ID_SOLICITUD_SGV AS ID_HOGAR,
	P.ID_PERSONA,
	P.PRIMER_NOMBRE AS PRIMER_NOMBRE,
	P.SEGUNDO_NOMBRE AS SEGUNDO_NOMBRE,
	P.PRIMER_APELLIDO AS PRIMER_APELLIDO,
	P.SEGUNDO_APELLIDO AS SEGUNDO_APELLIDO,
	p.TIPO_DOCUMENTO AS TIPO_DOCUMENTO,
	P.IDENTIFICACION AS NUMERO_DOCUMENTO,
	P.FECHA_NACIMIENTO,
	P.SEXO AS SEXO,
	PAR.PARENTESCO,PAR.ID_PARENTESCO,
	'S/I' AS TELEFONO_FIJO,
	P.TELEFONO AS TELEFONO_CELULAR,
    P.DEPARTAMENTO_RESIDENCIA AS DEPARTAMENTO_RESIDENCIA,
	P.MUNICIPIO_RESIDENCIA AS MUNICIPIO_RESIDENCIA,
	'S/I' AS VEREDA_RESIDENCIA,
	'S/I' AS CORREGIMIENTO_RESIDENCIA,
	P.BARRIO AS BARRIO_LOCALIDAD_RESIDENCIA,
	P.DIRECCION_RESIDENCIA,
	DPI.NOMBRE_DEPARTAMENTO AS DEPARTAMENTO_INTENCION,
	DPI.NOMBRE_MUNICIPIO AS MUNICIPIO_INTENCION,
	'S/I' AS CORREGIMIENTO_INTENCION,
	'S/I' AS VEREDA_INTENCION,
	'S/I' AS BARRIO_LOCALIDAD_INTENCION,
	'S/I' AS TIPO_SOLUCION,
	CASE WHEN P.ID_PERSONA_RUV>0 THEN 'SI' else 'NO' END AS ESTADO_RUV
	,ISNULL(P.PRIMER_NOMBRE, '') + ' ' + ISNULL( P.SEGUNDO_NOMBRE, '') + ' ' + ISNULL(P.PRIMER_APELLIDO, '') + ' ' + ISNULL(P.SEGUNDO_APELLIDO, '') AS 'PERSONA', P.TIPO_DOCUMENTO + ' ' + P.IDENTIFICACION AS DOCUMENTO
	,P.EDAD AS EDAD_ANOS, P.ETNIA, P.ORIENTACION_SEXUAL, P.PRESENTA_DISCAPACIDAD
	,ID_RYR_HOGAR_ACTUAL,P.ID_PERSONA_RUV
	,ha.HECHO_VICTIMIZANTE, HA.DANE_MUNICIPIO_OCURRENCIA_HECHO,
	SSV.[IDENTIFICACION],SSV.[SALUD],SSV.[ATENCION_PSICOSOCIAL],SSV.[EDUCACION],SSV.[ALIMENTACION],SSV.[VIVIENDA],SSV.[REUNIFICACION_FAMILIAR],SSV.[GENERACION_INGRESOS],SSV.[FECHA_MEDICION],SALIDA_SSV,
	CASE WHEN SALIDA_SSV = 'Supera SSV' THEN 1 ELSE 0 END AS SUPERA_SSV,	
	CASE WHEN SSV.SALUD = 'Cumple' THEN 1 ELSE 0 END AS CUMPLE_SALUD,
	CASE WHEN SSV.IDENTIFICACION = 'Cumple' THEN 1 ELSE 0 END AS CUMPLE_IDENTIFICACION,
	CASE WHEN SSV.ATENCION_PSICOSOCIAL = 'Cumple' THEN 1 ELSE 0 END AS CUMPLE_ATENCION_PSICOSOCIAL,
	CASE WHEN SSV.EDUCACION = 'Cumple' THEN 1 ELSE 0 END AS CUMPLE_EDUCACION,
	CASE WHEN SSV.ALIMENTACION = 'Cumple' THEN 1 ELSE 0 END AS CUMPLE_ALIMENTACION,
	CASE WHEN SSV.VIVIENDA = 'Cumple' THEN 1 ELSE 0 END AS CUMPLE_VIVIENDA,
	CASE WHEN SSV.REUNIFICACION_FAMILIAR = 'Cumple' THEN 1 ELSE 0 END AS CUMPLE_REUNIFICACION_FAMILIAR,
	CASE WHEN SSV.GENERACION_INGRESOS = 'Cumple' THEN 1 ELSE 0 END AS CUMPLE_GENERACION_INGRESOS,
	
	CASE WHEN SSV.SALUD <> 'Cumple' THEN 1 ELSE 0 END AS NO_CUMPLE_SALUD,
	CASE WHEN SSV.IDENTIFICACION <> 'Cumple' THEN 1 ELSE 0 END AS NO_CUMPLE_IDENTIFICACION,
	CASE WHEN SSV.ATENCION_PSICOSOCIAL <> 'Cumple' THEN 1 ELSE 0 END AS NO_CUMPLE_ATENCION_PSICOSOCIAL,
	CASE WHEN SSV.EDUCACION <> 'Cumple' THEN 1 ELSE 0 END AS NO_CUMPLE_EDUCACION,
	CASE WHEN SSV.ALIMENTACION <> 'Cumple' THEN 1 ELSE 0 END AS NO_CUMPLE_ALIMENTACION,
	CASE WHEN SSV.VIVIENDA <> 'Cumple' THEN 1 ELSE 0 END AS NO_CUMPLE_VIVIENDA,
	CASE WHEN SSV.REUNIFICACION_FAMILIAR <> 'Cumple' THEN 1 ELSE 0 END AS NO_CUMPLE_REUNIFICACION_FAMILIAR,
	CASE WHEN SSV.GENERACION_INGRESOS <> 'Cumple' THEN 1 ELSE 0 END AS NO_CUMPLE_GENERACION_INGRESOS
	FROM [dbo].[V_PERSONAS_MAARIV] as p
	INNER JOIN RYR_HOGAR_ACTUAL HA ON P.ID_PERSONA = HA.ID_PERSONA
	--INNER JOIN RYR_CONFORMACION_HOGAR CA ON P.ID_PERSONA = CA.ID_PERSONA
	INNER JOIN RYR_INTENCION I ON I.ID_SOLICITUD_SGV = HA.ID_SOLICITUD_SGV 
	INNER JOIN RYR_COMUNIDADES C ON C.ID_RYR_COMUNIDAD = I.ID_RYR_COMUNIDAD
	INNER JOIN TIPO_PARENTESCO PAR ON HA.PARENTESCO = PAR.ID_PARENTESCO
	LEFT JOIN RYR_HOGAR_SSV SSV ON HA.ID_SOLICITUD_SGV_HOGAR =SSV.ID_SOLICITUD_SGV_HOGAR
	LEFT JOIN DIVIPOLA DPI ON I.ID_MUNICIPIO_SOLICITUD = DPI.CODIGO_MUNICIPIO
GO
