USE [Maariv_Desarrollo]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PLAN_ACCION_TRASLADO] [int] NOT NULL,
	[ID_COMUNIDAD] [int] NULL,
	[ACTIVIDAD] [varchar](1000) NULL,
	[RESPONSABLE] [varchar](1000) NULL,
	[CUMPLIDA] [bit] NULL,
	[OBSERVACIONES] [varchar](1000) NULL,
	[ID_USUARIO] [int] NULL,
	[FECHA_SISTEMA] [datetime] NULL,
 CONSTRAINT [PK_TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO]  WITH CHECK ADD  CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO_TB_PLAN_ACCION_TRASLADO] FOREIGN KEY([ID_PLAN_ACCION_TRASLADO])
REFERENCES [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO] ([ID_PLAN_ACCION_TRASLADO])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO] CHECK CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO_TB_PLAN_ACCION_TRASLADO]
GO
