USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_GET_TB_PLAN_RYR_BIEN_SERVICIO]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_GET_TB_PLAN_RYR_BIEN_SERVICIO]
	@ID_RYR_COMUNIDAD INT,
	@ID_COMPONENTE INT
AS
BEGIN
	SELECT ID_PLAN_RYR_BIEN_SERVICIO
		  ,ID_RYR_COMUNIDAD
		  ,ID_PLAN_RYR
		  ,BIEN_SERVICIO
		  ,META
		  ,VICTIMAS_ACOMPANADAS_DIRECTAMENTE
		  ,VICTIMAS_ACOMPANADAS_INDIRECTAMENTE
		  ,VICTIMAS_BENEFICIADAS
		  ,ID_COMPONENTE
		  ,COMPONENTE
		  ,PERSONAS_NO_VICTIMAS_BENEFICIADAS
		  ,PERSONAS_BENEFICIADAS
		  ,INICIATIVAPDET
		  ,COSTO_BIEN_SERVICIO
	  FROM RYR_COMUNITARIO.V_RYR_BIEN_SERVICIO 
	  WHERE ID_RYR_COMUNIDAD = @ID_RYR_COMUNIDAD 
	  AND ID_COMPONENTE = @ID_COMPONENTE
	  AND ACTIVO = 1
END
GO
