USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_SET_PLAN_RYR_TB_DERECHO_NECESIDAD]    Script Date: 09/11/2020 10:27:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [RYR_COMUNITARIO].[SP_SET_PLAN_RYR_TB_DERECHO_NECESIDAD]
	@ID_RYR_COMUNIDAD INT,
	@ID_NECESIDAD INT,
	@ACCIONES VARCHAR(8000),
	@FECHA_INICIO_TRAMITE SMALLDATETIME,
	@FECHA_CIERRE_TRAMITE SMALLDATETIME
AS
BEGIN
	IF NOT EXISTS(SELECT 1 FROM RYR_COMUNITARIO.TB_PLAN_RYR_NECESIDAD WHERE ID_RYR_COMUNIDAD = @ID_RYR_COMUNIDAD AND ID_NECESIDAD = @ID_NECESIDAD)
		INSERT INTO RYR_COMUNITARIO.TB_PLAN_RYR_NECESIDAD
		(ID_RYR_COMUNIDAD,ID_NECESIDAD,ACCIONES,FECHA_INICIO_TRAMITE,FECHA_CIERRE_TRAMITE)
		VALUES (@ID_RYR_COMUNIDAD,@ID_NECESIDAD,@ACCIONES,@FECHA_INICIO_TRAMITE,@FECHA_CIERRE_TRAMITE)
	ELSE
		UPDATE RYR_COMUNITARIO.TB_PLAN_RYR_NECESIDAD
		SET ACCIONES = @ACCIONES,
			FECHA_INICIO_TRAMITE = @FECHA_INICIO_TRAMITE,
			FECHA_CIERRE_TRAMITE = @FECHA_CIERRE_TRAMITE
		WHERE ID_RYR_COMUNIDAD = @ID_RYR_COMUNIDAD AND ID_NECESIDAD = @ID_NECESIDAD

END
GO
