USE [Maariv_Desarrollo]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_DERECHO_NECESIDAD]    Script Date: 05/11/2020 10:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_DERECHO_NECESIDAD](
	[ID_NECESIDAD] [int] NOT NULL,
	[ID_DERECHO] [int] NOT NULL,
	[NOMBRE] [varchar](1000) NULL,
	[ACTIVO] [bit] NULL,
 CONSTRAINT [PK_TB_DERECHO_NECESIDAD] PRIMARY KEY CLUSTERED 
(
	[ID_NECESIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_DERECHO_NECESIDAD]  WITH CHECK ADD  CONSTRAINT [FK_TB_DERECHO_NECESIDAD_TB_DERECHO] FOREIGN KEY([ID_DERECHO])
REFERENCES [RYR_COMUNITARIO].[TB_DERECHO] ([ID_DERECHO])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_DERECHO_NECESIDAD] CHECK CONSTRAINT [FK_TB_DERECHO_NECESIDAD_TB_DERECHO]
GO
