USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_ELIMINAR_TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_ELIMINAR_TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO]
@ID INT
AS
BEGIN
	DELETE RYR_COMUNITARIO.TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO where ID = @ID
END
GO
