USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_GET_BUSQUEDA_PERSONA_POR_NUMERO_DOCUMENTO]    Script Date: 09/11/2020 10:27:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_GET_BUSQUEDA_PERSONA_POR_NUMERO_DOCUMENTO]
@NUMERO_DOCUMENTO varchar(100)
AS
BEGIN
	SET NOCOUNT ON
	select P.ID_PERSONA,CH.ID_HOGAR AS HOGAR, ISNULL(P.PER_CNOMBRE1, '') + ' ' + ISNULL( P.PER_CNOMBRE2, '') + ' ' + ISNULL(P.PER_CAPELLIDO1, '') + ' ' + ISNULL(P.PER_CAPELLIDO2, '') AS 'PERSONA', [TIPO_IDENTIFICACION]+ ' ' + P.PER_CCEDULA AS DOCUMENTO
	from [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD] AS C
	JOIN [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD_HOGAR] AS H ON C.ID_CARACTERIZACION_COMUNIDAD = H.ID_CARACTERIZACION_COMUNIDAD
	JOIN [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD_HOGAR_PERSONA] AS HP ON H.ID_CARACTERIZACION_COMUNIDAD_HOGAR = HP.ID_CARACTERIZACION_COMUNIDAD_HOGAR
	JOIN [dbo].[TBL_RPERSONA] AS P ON HP.ID_PERSONA = P.ID_PERSONA 
	JOIN [dbo].[TIPO_IDENTIFICACION] AS IDE ON P.TDO_NID = IDE.ID_TIPO_IDENTIFICACION
	join [dbo].[RYR_CONFORMACION_HOGAR] as CH ON P.ID_PERSONA = CH.ID_PERSONA
	join [dbo].[TIPO_PARENTESCO] AS PAR ON CH.ID_PARENTESCO= PAR.ID_PARENTESCO
	LEFT JOIN RYR_COMUNITARIO.TB_PLAN_ACCION_TRASLADO_INVENTARIO_HOGAR AS INV ON CH.ID_HOGAR = INV.ID_HOGAR
	WHERE P.PER_CCEDULA = @NUMERO_DOCUMENTO
	--and C.ID_RYR_COMUNIDAD = @ID_COMUNIDAD
	order by ch.ID_HOGAR

END
GO
