USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_INSERTAR_ACTUALIZAR_TB_PLAN_ACCION_TRASLADO_PROFESIONALES]    Script Date: 05/11/2020 10:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_INSERTAR_ACTUALIZAR_TB_PLAN_ACCION_TRASLADO_PROFESIONALES]
	@ID int ,
	@ID_PLAN_ACCION_TRASLADO int,
	@ID_COMUNIDAD int ,
	@PROFESIONAL VARCHAR(400),
	@ID_ENTIDAD INT,
	@TELEFONO VARCHAR(10),
	@CORREO_ELECTRONICO VARCHAR(100),
	@ID_USUARIO INT
AS
BEGIN		
	IF NOT EXISTS( SELECT TOP 1 1 FROM  RYR_COMUNITARIO.TB_PLAN_ACCION_TRASLADO_PROFESIONALES WHERE ID= @ID)
	BEGIN	
		DECLARE @FECHA DATETIME
		SET @FECHA = GETDATE()
		INSERT INTO [RYR_COMUNITARIO].TB_PLAN_ACCION_TRASLADO_PROFESIONALES  (ID_PLAN_ACCION_TRASLADO ,	ID_COMUNIDAD ,	PROFESIONAL ,	ID_ENTIDAD ,	TELEFONO ,	CORREO_ELECTRONICO , ID_USUARIO, FECHA_SISTEMA)   VALUES (@ID_PLAN_ACCION_TRASLADO ,	@ID_COMUNIDAD ,	@PROFESIONAL ,	@ID_ENTIDAD ,@TELEFONO ,	@CORREO_ELECTRONICO , @ID_USUARIO, @FECHA)		
	END
	ELSE
	BEGIN
		UPDATE [RYR_COMUNITARIO].TB_PLAN_ACCION_TRASLADO_PROFESIONALES  SET PROFESIONAL= @PROFESIONAL ,	ID_ENTIDAD=@ID_ENTIDAD ,	TELEFONO=@TELEFONO ,	CORREO_ELECTRONICO =@CORREO_ELECTRONICO  WHERE ID =@ID
	END
END
GO
