USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_GET_TB_PLAN_ACCION_TRASLADO_ALISTAMIENTO]    Script Date: 05/11/2020 10:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_GET_TB_PLAN_ACCION_TRASLADO_ALISTAMIENTO] 
	@ID_PLAN_ACCION_TRASLADO int
AS
BEGIN		
	SELECT ID,E.ID_ENTIDAD, E.NOMBRE_ENTIDAD , FECHA_REGISTRO ,ID_DIRECCION_TERRITORIAL ,A.ID_MUNICIPIO,DAN_CCOD_DEPARTAMENTO, D.DAN_CMUNICIPIO ,A.DIRECCION ,PROFESIONAL_REGISTRO,CORREO_ELECTRONICO 
	FROM  RYR_COMUNITARIO.TB_PLAN_ACCION_TRASLADO_ALISTAMIENTO  AS A
	JOIN [RYR_COMUNITARIO].[TB_ENTIDAD] AS E	 ON A.ID_ENTIDAD = E.ID_ENTIDAD
	JOIN dbo.TBL_RDANE	D ON A.ID_MUNICIPIO = D.DAN_NID
	WHERE ID_PLAN_ACCION_TRASLADO = @ID_PLAN_ACCION_TRASLADO
	
END
GO
