USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_INSERTAR_ACTUALIZAR_TB_PLAN_ACCION_TRASLADO]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_INSERTAR_ACTUALIZAR_TB_PLAN_ACCION_TRASLADO] 
@ID_COMUNIDAD INT,
@ID_MUNICIPIO_SALIDA INT,
@ID_MUNICIPIO_LLEGADA INT,
@ID_ENTORNO_SALIDA INT,
@ID_ENTORNO_LLEGADA INT,
@CORREGIMIENTO_SALIDA VARCHAR(400),
@CORREGIMIENTO_LLEGADA VARCHAR(400),
@FECHA_INICIO_TRASLADO DATE,
@FECHA_LLEGADA DATE,
@ID_USUARIO INT,
@ID_PLAN_ACCION_TRASLADO INT OUT
AS
BEGIN		

	IF NOT EXISTS( SELECT TOP 1 1 FROM  RYR_COMUNITARIO.TB_PLAN_ACCION_TRASLADO WHERE ID_COMUNIDAD = @ID_COMUNIDAD)
	BEGIN	
		DECLARE @FECHA DATETIME
		SET @FECHA = GETDATE()
		INSERT INTO [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO]  ([ID_COMUNIDAD],ID_MUNICIPIO_SALIDA ,	ID_MUNICIPIO_LLEGADA ,	ID_ENTORNO_SALIDA ,	ID_ENTORNO_LLEGADA ,	CORREGIMIENTO_SALIDA ,	CORREGIMIENTO_LLEGADA ,FECHA_INICIO_TRASLADO, FECHA_LLEGADA, ID_USUARIO, FECHA_SISTEMA)   VALUES (@ID_COMUNIDAD,@ID_MUNICIPIO_SALIDA,@ID_MUNICIPIO_LLEGADA,@ID_ENTORNO_SALIDA,@ID_ENTORNO_LLEGADA,@CORREGIMIENTO_SALIDA,@CORREGIMIENTO_LLEGADA, @FECHA_INICIO_TRASLADO, @FECHA_LLEGADA, @ID_USUARIO, @FECHA)
		SET @ID_PLAN_ACCION_TRASLADO = SCOPE_IDENTITY() 
	END
	ELSE
	BEGIN
		UPDATE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO]  SET ID_MUNICIPIO_SALIDA= @ID_MUNICIPIO_SALIDA ,	ID_MUNICIPIO_LLEGADA = @ID_MUNICIPIO_LLEGADA,	ID_ENTORNO_SALIDA= @ID_ENTORNO_SALIDA ,	ID_ENTORNO_LLEGADA= @ID_ENTORNO_LLEGADA ,	CORREGIMIENTO_SALIDA= @CORREGIMIENTO_SALIDA ,	CORREGIMIENTO_LLEGADA= @CORREGIMIENTO_LLEGADA, FECHA_INICIO_TRASLADO = @FECHA_INICIO_TRASLADO, FECHA_LLEGADA = @FECHA_LLEGADA WHERE [ID_COMUNIDAD] =@ID_COMUNIDAD
		SELECT TOP 1 @ID_PLAN_ACCION_TRASLADO = ID_PLAN_ACCION_TRASLADO FROM  RYR_COMUNITARIO.TB_PLAN_ACCION_TRASLADO WHERE ID_COMUNIDAD = @ID_COMUNIDAD
	END
END
GO
