USE [Maariv_Desarrollo]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_BALANCE_TRASLADO_EVIDENCIA]    Script Date: 09/11/2020 10:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_BALANCE_TRASLADO_EVIDENCIA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PLAN_RYR_BIEN_SERVICIO] [int] NOT NULL,
	[ID_TIPO_EVIDENCIA] [int] NOT NULL,
	[URL_ARCHIVO] [varchar](500) NOT NULL,
	[NOMBRE_ARCHIVO] [varchar](500) NOT NULL,
	[EXTENSION] [varchar](10) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[FECHA_SISTEMA] [datetime] NOT NULL,
	[ACTIVO] [bit] NULL,
 CONSTRAINT [PK_TB_BALANCE_TRASLADO_EVIDENCIA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [RYR_COMUNITARIO].[TB_BALANCE_TRASLADO_EVIDENCIA] ON 

INSERT [RYR_COMUNITARIO].[TB_BALANCE_TRASLADO_EVIDENCIA] ([ID], [ID_PLAN_RYR_BIEN_SERVICIO], [ID_TIPO_EVIDENCIA], [URL_ARCHIVO], [NOMBRE_ARCHIVO], [EXTENSION], [ID_USUARIO], [FECHA_SISTEMA], [ACTIVO]) VALUES (1, 1, 3, N'MM\RUTA_RYR_COMUNITARIO\28_04-11-2020H11-42-14.pdf', N'Ruta comunitaria - Modelo RyR - Flujo Gral.pdf', N'.pdf', 20171, CAST(N'2020-11-04T11:42:13.990' AS DateTime), 0)
INSERT [RYR_COMUNITARIO].[TB_BALANCE_TRASLADO_EVIDENCIA] ([ID], [ID_PLAN_RYR_BIEN_SERVICIO], [ID_TIPO_EVIDENCIA], [URL_ARCHIVO], [NOMBRE_ARCHIVO], [EXTENSION], [ID_USUARIO], [FECHA_SISTEMA], [ACTIVO]) VALUES (2, 1, 1, N'MM\RUTA_RYR_COMUNITARIO\28_04-11-2020H11-47-14.docx', N'Diferencias de ruta individual - comunitaria 07 may 2020.docx', N'.docx', 20171, CAST(N'2020-11-04T11:47:13.647' AS DateTime), 1)
INSERT [RYR_COMUNITARIO].[TB_BALANCE_TRASLADO_EVIDENCIA] ([ID], [ID_PLAN_RYR_BIEN_SERVICIO], [ID_TIPO_EVIDENCIA], [URL_ARCHIVO], [NOMBRE_ARCHIVO], [EXTENSION], [ID_USUARIO], [FECHA_SISTEMA], [ACTIVO]) VALUES (3, 1, 3, N'MM\RUTA_RYR_COMUNITARIO\28_04-11-2020H11-52-10.jpg', N'WIN_20200621_11_11_50_Pro.jpg', N'.jpg', 20171, CAST(N'2020-11-04T11:52:09.620' AS DateTime), 1)
SET IDENTITY_INSERT [RYR_COMUNITARIO].[TB_BALANCE_TRASLADO_EVIDENCIA] OFF
ALTER TABLE [RYR_COMUNITARIO].[TB_BALANCE_TRASLADO_EVIDENCIA]  WITH CHECK ADD  CONSTRAINT [FK_TB_BALANCE_TRASLADO_EVIDENCIA_TB_TIPO_EVIDENCIA] FOREIGN KEY([ID_TIPO_EVIDENCIA])
REFERENCES [RYR_COMUNITARIO].[TB_TIPO_EVIDENCIA] ([ID_TIPO_EVIDENCIA])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_BALANCE_TRASLADO_EVIDENCIA] CHECK CONSTRAINT [FK_TB_BALANCE_TRASLADO_EVIDENCIA_TB_TIPO_EVIDENCIA]
GO
