USE [Maariv_Desarrollo]
GO
/****** Object:  View [RYR_COMUNITARIO].[V_RYR_PERSONAS_COMUNIDAD_DETALLE]    Script Date: 05/11/2020 10:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [RYR_COMUNITARIO].[V_RYR_PERSONAS_COMUNIDAD_DETALLE]
AS
select P.ID_RYR_COMUNIDAD,	P.ID_PERSONA, P.ID_RYR_HOGAR_ACTUAL AS HOGAR,P.PERSONA, P.DOCUMENTO,EDAD_ANOS,
	P.ETNIA, P.ORIENTACION_SEXUAL, P.PRESENTA_DISCAPACIDAD,
	P.FECHA_NACIMIENTO, P.SEXO,P.PARENTESCO,P.ID_PARENTESCO,P.TELEFONO_FIJO +' - ' + P.TELEFONO_CELULAR AS TELEFONO ,P.DEPARTAMENTO_RESIDENCIA, P.MUNICIPIO_RESIDENCIA, P.BARRIO_LOCALIDAD_RESIDENCIA, P.DIRECCION_RESIDENCIA, P.ID_PERSONA_RUV
	,HECHO_VICTIMIZANTE, P.DANE_MUNICIPIO_OCURRENCIA_HECHO,ESTADO_RUV,SUPERA_SSV
	,[IDENTIFICACION],[SALUD],[ATENCION_PSICOSOCIAL],[EDUCACION],[ALIMENTACION],[VIVIENDA],[REUNIFICACION_FAMILIAR],[GENERACION_INGRESOS],[FECHA_MEDICION]
      ,[SALIDA_SSV],[CUMPLE_SALUD],[CUMPLE_IDENTIFICACION],[CUMPLE_ATENCION_PSICOSOCIAL],[CUMPLE_EDUCACION],[CUMPLE_ALIMENTACION],[CUMPLE_VIVIENDA],[CUMPLE_REUNIFICACION_FAMILIAR]
      ,[CUMPLE_GENERACION_INGRESOS],[NO_CUMPLE_SALUD],[NO_CUMPLE_IDENTIFICACION],[NO_CUMPLE_ATENCION_PSICOSOCIAL],[NO_CUMPLE_EDUCACION],[NO_CUMPLE_ALIMENTACION],[NO_CUMPLE_VIVIENDA],[NO_CUMPLE_REUNIFICACION_FAMILIAR],[NO_CUMPLE_GENERACION_INGRESOS]
	   ---------------CUMPLE---------------
	   ---------------IDENTIFICACION---------------
	   ,CASE WHEN EDAD_ANOS <=5 THEN  
					CASE WHEN [CUMPLE_IDENTIFICACION]= 1 THEN 1 ELSE 0 END
					 ELSE NULL END AS [CUMPLE_IDENTIFICACION_REGISTRO_CIVIL]  ,	   
		CASE WHEN EDAD_ANOS >5 AND EDAD_ANOS <18 THEN 
					CASE WHEN [CUMPLE_IDENTIFICACION]= 1 THEN 1 ELSE 0 END
					ELSE NULL END AS [IDENTIFICACION_IDENTIDAD]  ,
		CASE WHEN EDAD_ANOS >= 18 THEN 
					CASE WHEN [CUMPLE_IDENTIFICACION]= 1 THEN 1 ELSE 0 END
					ELSE NULL END AS [CUMPLE_IDENTIFICACION_CC]  ,
		----EDUCACION
		CASE WHEN EDAD_ANOS =5 THEN 
					CASE WHEN [CUMPLE_EDUCACION]= 1 THEN 1 ELSE 0 END
					ELSE NULL END AS CUMPLE_EDUCACION_5  ,
		CASE WHEN EDAD_ANOS >5 AND EDAD_ANOS <=7  THEN  
					CASE WHEN [CUMPLE_EDUCACION]= 1 THEN 1 ELSE 0 END
					ELSE NULL END AS CUMPLE_EDUCACION_MAS_5  	
		---------------NO CUMPLE ---------------
		---------------IDENTIFICACION---------------
	   ,CASE WHEN EDAD_ANOS <=5 THEN  
					CASE WHEN [NO_CUMPLE_IDENTIFICACION]= 1 THEN 1 ELSE 0 END
					 ELSE NULL END AS [NO_CUMPLE_IDENTIFICACION_REGISTRO_CIVIL]  ,	   
		CASE WHEN EDAD_ANOS >5 AND EDAD_ANOS <18 THEN 
					CASE WHEN [NO_CUMPLE_IDENTIFICACION]= 1 THEN 1 ELSE 0 END
					ELSE NULL END AS [NO_IDENTIFICACION_IDENTIDAD]  ,
		CASE WHEN EDAD_ANOS >= 18 THEN 
					CASE WHEN [NO_CUMPLE_IDENTIFICACION]= 1 THEN 1 ELSE 0 END
					ELSE NULL END AS [NO_CUMPLE_IDENTIFICACION_CC]  ,
		----EDUCACION
		CASE WHEN EDAD_ANOS =5 THEN 
					CASE WHEN [NO_CUMPLE_EDUCACION]= 1 THEN 1 ELSE 0 END
					ELSE NULL END AS NO_CUMPLE_EDUCACION_5  ,
		CASE WHEN EDAD_ANOS >5 AND EDAD_ANOS <=7  THEN  
					CASE WHEN [NO_CUMPLE_EDUCACION]= 1 THEN 1 ELSE 0 END
					ELSE NULL END AS NO_CUMPLE_EDUCACION_MAS_5 ,
		CASE WHEN EDAD_ANOS <18 THEN 1 ELSE 0 END AS NINO,  								
		CASE WHEN EDAD_ANOS >=18 AND EDAD_ANOS <=70 THEN 1 ELSE 0 END AS ADULTO,  								
		CASE WHEN EDAD_ANOS >60 THEN 1 ELSE 0 END AS MAYOR,
		CASE WHEN SEXO = 'MUJER' AND ESTADO_RUV = 'SI' THEN 1 ELSE 0 END MUJER_RUV,
		CASE WHEN SEXO = 'HOMBRE' AND ESTADO_RUV = 'SI' THEN 1 ELSE 0 END HOMBRE_RUV,
		CASE WHEN EDAD_ANOS < 18 AND ESTADO_RUV = 'SI' THEN 1 ELSE 0 END NINO_RUV,
		CASE WHEN EDAD_ANOS >= 70 AND ESTADO_RUV = 'SI' THEN 1 ELSE 0 END MAYOR_RUV,
		CASE WHEN ORIENTACION_SEXUAL = 'LESBIANA' OR ORIENTACION_SEXUAL = 'GAY' OR ORIENTACION_SEXUAL = 'BISEXUAL' THEN 1 ELSE 0 END LGBTI,
		CASE WHEN (ORIENTACION_SEXUAL = 'LESBIANA' OR ORIENTACION_SEXUAL = 'GAY' OR ORIENTACION_SEXUAL = 'BISEXUAL')  AND ESTADO_RUV = 'SI'  THEN 1 ELSE 0 END LGBTIRUV

 	from [RYR_COMUNITARIO].[V_RYR_PERSONAS_COMUNIDAD] AS P
GO
