USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_INSERTAR_TB_BALANCE_TRASLADO_TB_DERECHO_NECESIDAD]    Script Date: 09/11/2020 10:27:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_INSERTAR_TB_BALANCE_TRASLADO_TB_DERECHO_NECESIDAD] 
@ID_PLAN_ACCION_TRASLADO INT,
@ID_USUARIO INT
AS
BEGIN	
	DECLARE @ID_COMUNIDAD INT
	SELECT @ID_COMUNIDAD = ID_COMUNIDAD FROM RYR_COMUNITARIO.TB_PLAN_ACCION_TRASLADO WHERE ID_PLAN_ACCION_TRASLADO=@ID_PLAN_ACCION_TRASLADO
		
	INSERT INTO [RYR_COMUNITARIO].[TB_BALANCE_TRASLADO_TB_DERECHO_NECESIDAD]
    ([ID_PLAN_ACCION_TRASLADO],[ID_COMUNIDAD],[ID_NECESIDAD],[NUM_PERSONAS_PENDIENTES_SUPERAR],[NUM_PERSONAS_SUPERON],[ID_USUARIO],[FECHA_SISTEMA])		
	SELECT @ID_PLAN_ACCION_TRASLADO, ID_RYR_COMUNIDAD, ID_NECESIDAD,NUM_PERSONAS_PENDIENTES_SUPERAR,NUM_PERSONAS_SUPERON,@ID_USUARIO,GETDATE() 
	FROM [RYR_COMUNITARIO].[V_RYR_SSV]  WHERE ID_RYR_COMUNIDAD  = @ID_COMUNIDAD		
END 
   
GO
