USE [Maariv_Desarrollo]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD]    Script Date: 05/11/2020 10:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD](
	[ID_CARACTERIZACION_COMUNIDAD] [int] IDENTITY(1,1) NOT NULL,
	[ID_RYR_COMUNIDAD] [int] NOT NULL,
	[FECHA] [smalldatetime] NULL,
	[ID_ENTIDAD] [int] NULL,
	[ID_MUNICIPIO] [int] NULL,
	[PROFESIONAL] [varchar](400) NULL,
	[CORREO] [varchar](100) NULL,
	[INTENCIONALIDAD_RAZONES] [varchar](8000) NULL,
	[INTENCIONALIDAD_MANIFESTACION] [varchar](8000) NULL,
	[CONDICIONES_ACTUALES_CARACTERISTICAS] [varchar](8000) NULL,
	[CONDICIONES_ACTUALES_ACTIVIDADES] [varchar](8000) NULL,
	[MUJERES_ESTADO_EMBARAZO] [int] NULL,
	[PERSONAS_SITUACION_ENFERMEDAD_RUINOSA] [int] NULL,
	[ID_ESTADO] [int] NULL,
	[USUARIO_CREACION] [int] NULL,
	[FECHA_CREACION] [smalldatetime] NULL,
	[USUARIO_MODIFICA] [int] NULL,
	[FECHA_MODIFICA] [smalldatetime] NULL,
	[ID_DEPARTAMENTO] [int] NULL,
	[ID_TERRITORIAL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CARACTERIZACION_COMUNIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD]  WITH CHECK ADD  CONSTRAINT [FK_TB_CARACTERIZACION_COMUNIDAD_RYR_COMUNIDADES] FOREIGN KEY([ID_RYR_COMUNIDAD])
REFERENCES [dbo].[RYR_COMUNIDADES] ([ID_RYR_COMUNIDAD])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD] CHECK CONSTRAINT [FK_TB_CARACTERIZACION_COMUNIDAD_RYR_COMUNIDADES]
GO
