USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_GET_TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO]    Script Date: 05/11/2020 10:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_GET_TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO] 
	@ID_PLAN_ACCION_TRASLADO int
AS
BEGIN		
	SELECT ID, ACTIVIDAD, RESPONSABLE, CUMPLIDA, OBSERVACIONES  
	FROM  RYR_COMUNITARIO.TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO 
	WHERE ID_PLAN_ACCION_TRASLADO = @ID_PLAN_ACCION_TRASLADO
	
END
GO
