USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_GET_PERSONAS_DETALLE_COMUNIDAD]    Script Date: 09/11/2020 10:27:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_GET_PERSONAS_DETALLE_COMUNIDAD]
@ID_COMUNIDAD INT
AS
SELECT [ID_RYR_COMUNIDAD]
      ,[ID_PERSONA]
      ,[HOGAR]
      ,[PERSONA]
      ,[DOCUMENTO]
      ,[EDAD_ANOS]
      ,[ETNIA]
      ,[ORIENTACION_SEXUAL]
      ,[PRESENTA_DISCAPACIDAD]
      ,[FECHA_NACIMIENTO]
      ,[SEXO]
      ,[PARENTESCO]
      ,[ID_PARENTESCO]
      ,[TELEFONO]
      ,[DEPARTAMENTO_RESIDENCIA]
      ,[MUNICIPIO_RESIDENCIA]
      ,[BARRIO_LOCALIDAD_RESIDENCIA]
      ,[DIRECCION_RESIDENCIA]
      ,[ID_PERSONA_RUV]
      ,[HECHO_VICTIMIZANTE]
      ,[DANE_MUNICIPIO_OCURRENCIA_HECHO]
      ,[ESTADO_RUV]
      ,[SUPERA_SSV]
      ,[IDENTIFICACION]
      ,[SALUD]
      ,[ATENCION_PSICOSOCIAL]
      ,[EDUCACION]
      ,[ALIMENTACION]
      ,[VIVIENDA]
      ,[REUNIFICACION_FAMILIAR]
      ,[GENERACION_INGRESOS]
      ,[FECHA_MEDICION]
      ,[SALIDA_SSV]
      ,[CUMPLE_SALUD]
      ,[CUMPLE_IDENTIFICACION]
      ,[CUMPLE_ATENCION_PSICOSOCIAL]
      ,[CUMPLE_EDUCACION]
      ,[CUMPLE_ALIMENTACION]
      ,[CUMPLE_VIVIENDA]
      ,[CUMPLE_REUNIFICACION_FAMILIAR]
      ,[CUMPLE_GENERACION_INGRESOS]
      ,[NO_CUMPLE_SALUD]
      ,[NO_CUMPLE_IDENTIFICACION]
      ,[NO_CUMPLE_ATENCION_PSICOSOCIAL]
      ,[NO_CUMPLE_EDUCACION]
      ,[NO_CUMPLE_ALIMENTACION]
      ,[NO_CUMPLE_VIVIENDA]
      ,[NO_CUMPLE_REUNIFICACION_FAMILIAR]
      ,[NO_CUMPLE_GENERACION_INGRESOS]
      ,[CUMPLE_IDENTIFICACION_REGISTRO_CIVIL]
      ,[IDENTIFICACION_IDENTIDAD]
      ,[CUMPLE_IDENTIFICACION_CC]
      ,[CUMPLE_EDUCACION_5]
      ,[CUMPLE_EDUCACION_MAS_5]
      ,[NO_CUMPLE_IDENTIFICACION_REGISTRO_CIVIL]
      ,[NO_IDENTIFICACION_IDENTIDAD]
      ,[NO_CUMPLE_IDENTIFICACION_CC]
      ,[NO_CUMPLE_EDUCACION_5]
      ,[NO_CUMPLE_EDUCACION_MAS_5]
      ,[NINO]
      ,[ADULTO]
      ,[MAYOR]
      ,[MUJER_RUV]
      ,[HOMBRE_RUV]
      ,[NINO_RUV]
      ,[MAYOR_RUV]
      ,[LGBTI]
      ,[LGBTIRUV]
  FROM [RYR_COMUNITARIO].[V_RYR_PERSONAS_COMUNIDAD_DETALLE]
  where ID_RYR_COMUNIDAD = @ID_COMUNIDAD
 
GO
