USE [Maariv_Desarrollo]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_BALANCE_TRASLADO_PLAN_RYR_BIEN_SERVICIO]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_BALANCE_TRASLADO_PLAN_RYR_BIEN_SERVICIO](
	[ID_PLAN_RYR_BIEN_SERVICIO] [int] NOT NULL,
	[VICTIMAS_ACOMPANADAS_DIRECTAMENTE] [int] NULL,
	[VICTIMAS_ACOMPANADAS_INDIRECTAMENTE] [int] NULL,
	[TOTAL_VICTIMAS_BENEFICIADAS] [int] NULL,
	[PERSONAS_NO_VICTIMAS_BENEFICIADAS] [int] NULL,
	[PERSONAS_BENEFICIADAS] [int] NULL,
	[DESCRIPCION] [varchar](max) NULL,
	[RESPONSABLE] [varchar](max) NULL,
	[COSTO] [money] NULL,
	[ID_USUARIO] [int] NULL,
	[FECHA_CREO] [datetime] NULL,
	[ID_USUARIO_MODIFICO] [int] NULL,
	[FECHA_MODIFICO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PLAN_RYR_BIEN_SERVICIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
