USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_SET_TB_PLAN_RYR]    Script Date: 05/11/2020 10:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [RYR_COMUNITARIO].[SP_SET_TB_PLAN_RYR] 
	@ID_RYR_COMUNIDAD INT,
	@FECHA_MEDICION DATE,
	@ID_TERRITORIAL INT,
	@ID_DEPARTAMENTO INT,
	@ID_MUNICIPIO INT,
	@ID_ENTORNO INT,
	@DIRECCION VARCHAR(400),
	@PROFESIONAL VARCHAR(400),
	@CORREO VARCHAR(400),
	@FECHA_ACTA_CTJT smalldatetime,
	@ID_ESTADO_PLAN_RYR int,
	@USUARIO INT
AS
BEGIN

	SET NOCOUNT ON;

	IF NOT EXISTS(SELECT 1 FROM RYR_COMUNITARIO.TB_PLAN_RYR WHERE ID_RYR_COMUNIDAD = @ID_RYR_COMUNIDAD)
		INSERT INTO RYR_COMUNITARIO.TB_PLAN_RYR
		(ID_RYR_COMUNIDAD,FECHA_MEDICION,ID_TERRITORIAL,ID_DEPARTAMENTO,ID_MUNICIPIO,ID_ENTORNO,DIRECCION,PROFESIONAL,
		CORREO,FECHA_ACTA_CTJT,ID_ESTADO_PLAN_RYR,USUARIO_CREACION,FECHA_CREACION)
		VALUES(@ID_RYR_COMUNIDAD,@FECHA_MEDICION,@ID_TERRITORIAL,@ID_DEPARTAMENTO,@ID_MUNICIPIO,@ID_ENTORNO,@DIRECCION,@PROFESIONAL,
		@CORREO,@FECHA_ACTA_CTJT,@ID_ESTADO_PLAN_RYR,@USUARIO,GETDATE())
	ELSE
		UPDATE RYR_COMUNITARIO.TB_PLAN_RYR
		SET FECHA_MEDICION = @FECHA_MEDICION,
			ID_TERRITORIAL = @ID_TERRITORIAL,
			ID_DEPARTAMENTO = @ID_DEPARTAMENTO,
			ID_MUNICIPIO = @ID_MUNICIPIO,
			ID_ENTORNO = @ID_ENTORNO,
			DIRECCION = @DIRECCION,
			PROFESIONAL = @PROFESIONAL,
			CORREO = @CORREO,
			FECHA_ACTA_CTJT = @FECHA_ACTA_CTJT,
			ID_ESTADO_PLAN_RYR = @ID_ESTADO_PLAN_RYR,
			USUARIO_MODIFICA = @USUARIO,
			FECHA_MODIFICA = GETDATE()
		WHERE ID_RYR_COMUNIDAD = @ID_RYR_COMUNIDAD
		
END
GO
