USE [Maariv_Desarrollo]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_BALANCE_TRASLADO_TB_DERECHO_NECESIDAD]    Script Date: 05/11/2020 10:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_BALANCE_TRASLADO_TB_DERECHO_NECESIDAD](
	[ID_PLAN_ACCION_TRASLADO] [int] NOT NULL,
	[ID_COMUNIDAD] [int] NOT NULL,
	[ID_NECESIDAD] [int] NOT NULL,
	[NUM_PERSONAS_PENDIENTES_SUPERAR] [int] NULL,
	[NUM_PERSONAS_SUPERON] [int] NULL,
	[ID_USUARIO] [int] NOT NULL,
	[FECHA_SISTEMA] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_BALANCE_TRASLADO_TB_DERECHO_NECESIDAD]  WITH CHECK ADD  CONSTRAINT [FK_TB_BALANCE_TRASLADO_TB_DERECHO_NECESIDAD_RYR_COMUNIDADES] FOREIGN KEY([ID_COMUNIDAD])
REFERENCES [dbo].[RYR_COMUNIDADES] ([ID_RYR_COMUNIDAD])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_BALANCE_TRASLADO_TB_DERECHO_NECESIDAD] CHECK CONSTRAINT [FK_TB_BALANCE_TRASLADO_TB_DERECHO_NECESIDAD_RYR_COMUNIDADES]
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_BALANCE_TRASLADO_TB_DERECHO_NECESIDAD]  WITH CHECK ADD  CONSTRAINT [FK_TB_BALANCE_TRASLADO_TB_DERECHO_NECESIDAD_TB_DERECHO_NECESIDAD] FOREIGN KEY([ID_NECESIDAD])
REFERENCES [RYR_COMUNITARIO].[TB_DERECHO_NECESIDAD] ([ID_NECESIDAD])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_BALANCE_TRASLADO_TB_DERECHO_NECESIDAD] CHECK CONSTRAINT [FK_TB_BALANCE_TRASLADO_TB_DERECHO_NECESIDAD_TB_DERECHO_NECESIDAD]
GO
