USE [Maariv_Desarrollo]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_ESTADO_PLAN_RYR]    Script Date: 09/11/2020 10:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_ESTADO_PLAN_RYR](
	[ID_ESTADO_PLAN_RYR] [int] NOT NULL,
	[ESTADO_PLAN_RYR] [varchar](50) NULL,
 CONSTRAINT [PK_RYR_COMUNITARIO.TB_ESTADO_PLAN_RYR] PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO_PLAN_RYR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [RYR_COMUNITARIO].[TB_ESTADO_PLAN_RYR] ([ID_ESTADO_PLAN_RYR], [ESTADO_PLAN_RYR]) VALUES (1, N'ESTADO1')
INSERT [RYR_COMUNITARIO].[TB_ESTADO_PLAN_RYR] ([ID_ESTADO_PLAN_RYR], [ESTADO_PLAN_RYR]) VALUES (2, N'ESTADO2')
INSERT [RYR_COMUNITARIO].[TB_ESTADO_PLAN_RYR] ([ID_ESTADO_PLAN_RYR], [ESTADO_PLAN_RYR]) VALUES (3, N'ESTADO3')
