USE [Maariv_Desarrollo]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO](
	[ID_PLAN_ACCION_TRASLADO] [int] IDENTITY(1,1) NOT NULL,
	[ID_COMUNIDAD] [int] NULL,
	[ID_MUNICIPIO_SALIDA] [int] NULL,
	[ID_MUNICIPIO_LLEGADA] [int] NULL,
	[ID_ENTORNO_SALIDA] [int] NULL,
	[ID_ENTORNO_LLEGADA] [int] NULL,
	[CORREGIMIENTO_SALIDA] [varchar](400) NULL,
	[CORREGIMIENTO_LLEGADA] [varchar](400) NULL,
	[FECHA_INICIO_TRASLADO] [date] NULL,
	[FECHA_LLEGADA] [date] NULL,
	[ID_USUARIO] [int] NULL,
	[FECHA_SISTEMA] [datetime] NULL,
	[ID_DT_BALANCE] [int] NULL,
	[PROFESIONAL_ELABORA_LISTADO_BALANCE] [varchar](200) NULL,
	[CORREO_PROFESIONAL_ELABORA_LISTADO_BALANCE] [varchar](200) NULL,
	[FECHA_MEDICION_SSV] [date] NULL,
	[FECHA_SISTEMA_BALANCE] [datetime] NULL,
	[ID_USUARIO_BALANCE] [int] NULL,
 CONSTRAINT [PK_TB_PLAN_ACCION_TRASLADO] PRIMARY KEY CLUSTERED 
(
	[ID_PLAN_ACCION_TRASLADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO]  WITH CHECK ADD  CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_RYR_COMUNIDADES] FOREIGN KEY([ID_COMUNIDAD])
REFERENCES [dbo].[RYR_COMUNIDADES] ([ID_RYR_COMUNIDAD])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO] CHECK CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_RYR_COMUNIDADES]
GO
