USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_SET_TB_PLAN_RYR_BIEN_SERVICIO]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [RYR_COMUNITARIO].[SP_SET_TB_PLAN_RYR_BIEN_SERVICIO]
	@ID_PLAN_RYR_BIEN_SERVICIO INT = 0,
	@ID_RYR_COMUNIDAD INT = 0,
	@BIEN_SERVICIO VARCHAR(400) = '',
	@META INT = 0,
	@VICTIMAS_ACOMPANADAS_DIRECTAMENTE INT = 0,
	@VICTIMAS_ACOMPANADAS_INDIRECTAMENTE INT = 0,
	@ID_COMPONENTE INT = 0,
	@PERSONAS_NO_VICTIMAS_BENEFICIADAS INT = 0,
	@PERSONAS_BENEFICIADAS INT = 0,
	@INICIATIVAPDET BIGINT = 0,
	@ACTIVO BIT = 1
AS
BEGIN
	DECLARE @ID_PLAN_RYR INT

	SELECT @ID_PLAN_RYR = ID_PLAN_RYR FROM RYR_COMUNITARIO.TB_PLAN_RYR WHERE ID_RYR_COMUNIDAD = @ID_RYR_COMUNIDAD
	
	IF @ID_PLAN_RYR>0
		IF @ID_PLAN_RYR_BIEN_SERVICIO = 0
			INSERT INTO RYR_COMUNITARIO.TB_PLAN_RYR_BIEN_SERVICIO
			(ID_PLAN_RYR,BIEN_SERVICIO,META,VICTIMAS_ACOMPANADAS_DIRECTAMENTE,VICTIMAS_ACOMPANADAS_INDIRECTAMENTE
			,ID_COMPONENTE,PERSONAS_NO_VICTIMAS_BENEFICIADAS,PERSONAS_BENEFICIADAS
			,INICIATIVAPDET,ACTIVO)
			VALUES(@ID_PLAN_RYR,@BIEN_SERVICIO,@META,@VICTIMAS_ACOMPANADAS_DIRECTAMENTE,@VICTIMAS_ACOMPANADAS_INDIRECTAMENTE
			,@ID_COMPONENTE,@PERSONAS_NO_VICTIMAS_BENEFICIADAS,@PERSONAS_BENEFICIADAS
			,@INICIATIVAPDET,@ACTIVO)
		ELSE
			UPDATE RYR_COMUNITARIO.TB_PLAN_RYR_BIEN_SERVICIO
			SET BIEN_SERVICIO = @BIEN_SERVICIO,
				META = @META,
				VICTIMAS_ACOMPANADAS_DIRECTAMENTE = @VICTIMAS_ACOMPANADAS_DIRECTAMENTE,
				VICTIMAS_ACOMPANADAS_INDIRECTAMENTE = @VICTIMAS_ACOMPANADAS_INDIRECTAMENTE,
				ID_COMPONENTE = @ID_COMPONENTE,
				PERSONAS_NO_VICTIMAS_BENEFICIADAS = @PERSONAS_NO_VICTIMAS_BENEFICIADAS,
				PERSONAS_BENEFICIADAS = @PERSONAS_BENEFICIADAS,
				INICIATIVAPDET = @INICIATIVAPDET
			WHERE ID_PLAN_RYR_BIEN_SERVICIO = @ID_PLAN_RYR_BIEN_SERVICIO
	ELSE
		IF @ID_PLAN_RYR_BIEN_SERVICIO > 0
			UPDATE RYR_COMUNITARIO.TB_PLAN_RYR_BIEN_SERVICIO
				SET ACTIVO = @ACTIVO
				WHERE ID_PLAN_RYR_BIEN_SERVICIO = @ID_PLAN_RYR_BIEN_SERVICIO
END
GO
