USE [Maariv_Desarrollo]
GO
/****** Object:  View [RYR_COMUNITARIO].[V_RYR_BIEN_SERVICIO]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [RYR_COMUNITARIO].[V_RYR_BIEN_SERVICIO]
AS
SELECT	BS.ID_PLAN_RYR_BIEN_SERVICIO
		,P.ID_RYR_COMUNIDAD
		,BS.ID_PLAN_RYR
		,BS.BIEN_SERVICIO
		,BS.META
		,BS.VICTIMAS_ACOMPANADAS_DIRECTAMENTE
		,BS.VICTIMAS_ACOMPANADAS_INDIRECTAMENTE
		,BS.VICTIMAS_ACOMPANADAS_INDIRECTAMENTE + BS.VICTIMAS_ACOMPANADAS_DIRECTAMENTE AS VICTIMAS_BENEFICIADAS
		,BS.ID_COMPONENTE
		,C.COMPONENTE
		,BS.PERSONAS_NO_VICTIMAS_BENEFICIADAS
		,BS.PERSONAS_BENEFICIADAS
		,BS.INICIATIVAPDET
		,BS.ACTIVO
		,(SELECT SUM(BSA.COSTO)
			FROM RYR_COMUNITARIO.TB_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD BSA
			WHERE BSA.ID_PLAN_RYR_BIEN_SERVICIO = BS.ID_PLAN_RYR_BIEN_SERVICIO) AS COSTO_BIEN_SERVICIO 
  FROM RYR_COMUNITARIO.TB_PLAN_RYR_BIEN_SERVICIO BS
  INNER JOIN RYR_COMUNITARIO.TB_PLAN_RYR P ON BS.ID_PLAN_RYR = P.ID_PLAN_RYR
  INNER JOIN RYR_COMUNITARIO.TB_COMPONENTES C ON BS.ID_COMPONENTE = C.ID_COMPONENTE
GO
