USE [Maariv_Desarrollo]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_PLAN_RYR_NECESIDAD]    Script Date: 05/11/2020 10:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_PLAN_RYR_NECESIDAD](
	[ID_PLAN_RYR_NECESIDAD] [int] IDENTITY(1,1) NOT NULL,
	[ID_PLAN_RYR] [int] NULL,
	[ID_NECESIDAD] [int] NULL,
	[ACCIONES] [varchar](8000) NULL,
	[FECHA_INICIO_TRAMITE] [smalldatetime] NULL,
	[FECHA_CIERRE_TRATIME] [smalldatetime] NULL,
 CONSTRAINT [PK_TB_PLAN_RYR_NECESIDAD] PRIMARY KEY CLUSTERED 
(
	[ID_PLAN_RYR_NECESIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
