USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_GET_TB_PLAN_ACCION_TRASLADO_INVENTARIO_HOGAR_ENSERES]    Script Date: 05/11/2020 10:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_GET_TB_PLAN_ACCION_TRASLADO_INVENTARIO_HOGAR_ENSERES]
@ID_HOGAR INT
AS
BEGIN
	SET NOCOUNT ON
	select ID_HOGAR ,ESTUFAS,NEVERAS ,UTENCILIOS_COCINA ,CAMAS ,COLCHONES ,COBIJAS ,SOFAS ,SILLAS ,MESAS ,EQUIPOS_DE_SONIDO ,JUGUTES_ROPA ,BICICLETAS ,MOTOS ,TULAS ,PESO,ROTULACION FROM RYR_COMUNITARIO.TB_PLAN_ACCION_TRASLADO_INVENTARIO_HOGAR 
	WHERE  ID_HOGAR = @ID_HOGAR

END

GO
