USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_GET_ENTORNOS]    Script Date: 09/11/2020 10:27:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [RYR_COMUNITARIO].[SP_GET_ENTORNOS]
AS
BEGIN
	SET NOCOUNT ON
	SELECT [ID_ENTORNO]
      ,[ENTORNO]
	FROM [RYR_COMUNITARIO].[TB_ENTORNOS]
	SET NOCOUNT OFF
END
GO
