USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_SET_TB_EVIDENCIAS]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_SET_TB_EVIDENCIAS]
	@ID_EVIDENCIA INT = 0,
	@ID_TIPO_EVIDENCIA INT = 0,
	@ID_CONTROL INT = 0,
	@CONCEPTO VARCHAR(50) = '',
	@URL_ARCHIVO VARCHAR(500) = '',
	@NOMBRE_ARCHIVO VARCHAR(500)= '',
	@EXTENSION VARCHAR(10) = '',
	@USUARIO INT = 0
AS
BEGIN

	IF @ID_EVIDENCIA = 0
		INSERT INTO RYR_COMUNITARIO.TB_EVIDENCIAS
		(ID_TIPO_EVIDENCIA,ID_CONTROL,CONCEPTO,URL_ARCHIVO,NOMBRE_ARCHIVO,EXTENSION,USUARIO,FECHA,ACTIVO)
		VALUES(@ID_TIPO_EVIDENCIA,@ID_CONTROL,@CONCEPTO,@URL_ARCHIVO,@NOMBRE_ARCHIVO,@EXTENSION,@USUARIO,GETDATE(),1)
	ELSE
		UPDATE RYR_COMUNITARIO.TB_EVIDENCIAS SET ACTIVO = 0 WHERE ID_EVIDENCIA = @ID_EVIDENCIA
END

GO
