USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_INSERTAR_ACTUALIZAR_TB_PLAN_ACCION_TRASLADO_PERSONA_NO_TRASLADA]    Script Date: 09/11/2020 10:27:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_INSERTAR_ACTUALIZAR_TB_PLAN_ACCION_TRASLADO_PERSONA_NO_TRASLADA]
@ID_COMUNIDAD INT ,
@ID_PLAN_ACCION_TRASLADO INT ,
@ID_PERSONA int ,
@MOTIVO VARCHAR(1000) ,
@SETRASLADA BIT,
@ID_USUARIO INT
AS
BEGIN		
	DECLARE @FECHA DATETIME
	SET @FECHA = GETDATE()

	IF (@SETRASLADA = 0)
	BEGIN
		IF NOT EXISTS( SELECT TOP 1 1 FROM  RYR_COMUNITARIO.TB_PLAN_ACCION_TRASLADO_PERSONA_NO_TRASLADA WHERE ID_COMUNIDAD = @ID_COMUNIDAD AND ID_PLAN_ACCION_TRASLADO= @ID_PLAN_ACCION_TRASLADO AND ID_PERSONA =@ID_PERSONA)
		BEGIN	
			INSERT INTO [RYR_COMUNITARIO].TB_PLAN_ACCION_TRASLADO_PERSONA_NO_TRASLADA  (ID_COMUNIDAD,ID_PLAN_ACCION_TRASLADO, ID_PERSONA,MOTIVO,ELIMINADO,ID_USUARIO_INSERTO, FECHA_SISTEMA_INSERTO)	 VALUES (@ID_COMUNIDAD,@ID_PLAN_ACCION_TRASLADO, @ID_PERSONA,@MOTIVO,0, @ID_USUARIO, @FECHA)		
		END
		ELSE
		BEGIN
			UPDATE [RYR_COMUNITARIO].TB_PLAN_ACCION_TRASLADO_PERSONA_NO_TRASLADA  SET MOTIVO =@MOTIVO, ELIMINADO = 0 WHERE ID_COMUNIDAD = @ID_COMUNIDAD AND ID_PLAN_ACCION_TRASLADO= @ID_PLAN_ACCION_TRASLADO AND ID_PERSONA =@ID_PERSONA		
		END
	END
	ELSE
	BEGIN
		UPDATE [RYR_COMUNITARIO].TB_PLAN_ACCION_TRASLADO_PERSONA_NO_TRASLADA  SET ID_USUARIO_ELIMINO =@ID_USUARIO, FECHA_SISTEMA_ELIMINO = @FECHA,ELIMINADO = 1 WHERE ID_COMUNIDAD = @ID_COMUNIDAD AND ID_PLAN_ACCION_TRASLADO= @ID_PLAN_ACCION_TRASLADO AND ID_PERSONA =@ID_PERSONA		
	END
END
GO
