USE [Maariv_Desarrollo]
GO
/****** Object:  View [RYR_COMUNITARIO].[V_RYR_BIEN_SERVICIO_ACTIVIDAD]    Script Date: 09/11/2020 10:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [RYR_COMUNITARIO].[V_RYR_BIEN_SERVICIO_ACTIVIDAD]
AS
SELECT BSA.ID_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD
      ,BSA.ID_PLAN_RYR_BIEN_SERVICIO
      ,BSA.ID_CLASIFICACION_ACTIVIDAD
	  ,CA.CLASIFICACION_ACTIVIDAD
      ,BSA.ACTIVIDAD
      ,BSA.CUMPLIDA
      ,BSA.FECHA_ACTIVIDAD
      ,BSA.RESPONSABLE
      ,BSA.COSTO
	  ,BSA.ACTIVO
  FROM RYR_COMUNITARIO.TB_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD BSA
  INNER JOIN RYR_COMUNITARIO.TB_CLASIFICACION_ACTIVIDAD CA ON BSA.ID_CLASIFICACION_ACTIVIDAD = CA.ID_CLASIFICACION_ACTIVIDAD
  WHERE BSA.ACTIVO = 1
GO
