USE [Maariv_Desarrollo]
GO
/****** Object:  View [RYR_COMUNITARIO].[V_RYR_DEPARTAMENTO]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [RYR_COMUNITARIO].[V_RYR_DEPARTAMENTO] 
AS
	SELECT DISTINCT DAN_CCOD_DEPARTAMENTO, DAN_CDEPARTAMENTO FROM dbo.TBL_RDANE 
	WHERE DAN_NID >0 AND DAN_NID<>105002 AND DAN_CCOD_DEPARTAMENTO <100	
GO
