USE [Maariv_Desarrollo]
GO
/****** Object:  View [RYR_COMUNITARIO].[V_RYR_SSV]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [RYR_COMUNITARIO].[V_RYR_SSV] 
AS
		SELECT ID_RYR_COMUNIDAD,ID_NECESIDAD, DERECHO, NECESIDAD, SUM (NUM_PERSONAS_PENDIENTES_SUPERAR) AS NUM_PERSONAS_PENDIENTES_SUPERAR,SUM( NUM_PERSONAS_SUPERON) AS NUM_PERSONAS_SUPERON, FECHA_SISTEMA FROM (
			SELECT ID_RYR_COMUNIDAD,
			 CASE WHEN DERECHO = 'ALIMENTACION' THEN 8
				 WHEN DERECHO = 'ATENCION_PSICOSOCIAL' THEN 5
				 WHEN DERECHO = 'VIVIENDA' THEN 9
				 WHEN DERECHO = 'REUNIFICACION_FAMILIAR' THEN 10	 
				 WHEN DERECHO = 'EDUCACION_5' THEN 6
				 WHEN DERECHO = 'EDUCACION_MAS_5' THEN 7
				 WHEN DERECHO = 'IDENTIFICACION_CC' THEN 3
				 WHEN DERECHO = 'IDENTIFICACION_IDENTIDAD' THEN  2
				 WHEN DERECHO = 'IDENTIFICACION_REGISTRO_CIVIL' THEN 1
				 WHEN DERECHO = 'SALUD' THEN 4
				 ELSE  0 END AS ID_NECESIDAD,
	 	
			CASE WHEN DERECHO LIKE 'EDUCACION%' THEN 'EDUCACION' 
				 WHEN DERECHO LIKE 'IDENTIFICACION%' THEN 'IDENTIFICACION' 
				 ELSE  DERECHO END AS  DERECHO, 
				 CASE WHEN DERECHO = 'ALIMENTACION' THEN 'Número de Personas que no han superado el derecho' 
				 WHEN DERECHO = 'ATENCION_PSICOSOCIAL' THEN 'Número de Personas que solicitaron atención psicosocial y no la han recibido' 
				 WHEN DERECHO = 'VIVIENDA' THEN 'Número de Personas que no han superado el derecho' 
				 WHEN DERECHO = 'REUNIFICACION_FAMILIAR' THEN 'Número de Personas que solicitaron reunificación familiar y no la han recibido' 
				 WHEN DERECHO = 'EDUCACION_5' THEN 'Número de Personas de 5 años que requieren acceso a educación' 
				 WHEN DERECHO = 'EDUCACION_MAS_5' THEN 'Número de Personas de 6 a 17 años que requieren acceso a educación' 
				 WHEN DERECHO = 'IDENTIFICACION_CC' THEN 'Número de Personas que requieren trámite decédula de ciudadanía' 
				 WHEN DERECHO = 'IDENTIFICACION_IDENTIDAD' THEN 'Número de Personas que requieren trámite de tarjeta de identidad' 
				 WHEN DERECHO = 'IDENTIFICACION_REGISTRO_CIVIL' THEN 'Número de Personas que requieren trámite de registro civil' 
				 ELSE  DERECHO END AS NECESIDAD,
	
				 NO_CUMPLE AS NUM_PERSONAS_PENDIENTES_SUPERAR, CUMPLE AS NUM_PERSONAS_SUPERON, NULL AS FECHA_SISTEMA
			FROM ( 
			--PARA EL NO CUMPLE
				SELECT ID_RYR_COMUNIDAD,DERECHO, NO_CUMPLE, '' AS CUMPLE FROM (
					SELECT  * FROM    
					(
						SELECT ID_RYR_COMUNIDAD,
						SUM(NO_CUMPLE_SALUD) AS SALUD,
						SUM([NO_CUMPLE_IDENTIFICACION_REGISTRO_CIVIL])  AS IDENTIFICACION_REGISTRO_CIVIL  ,
						SUM([NO_IDENTIFICACION_IDENTIDAD]) AS [IDENTIFICACION_IDENTIDAD]  ,
						SUM([NO_CUMPLE_IDENTIFICACION_CC]) AS [IDENTIFICACION_CC]  ,
						SUM(CUMPLE_ATENCION_PSICOSOCIAL) AS ATENCION_PSICOSOCIAL ,
						SUM(NO_CUMPLE_EDUCACION_5) AS EDUCACION_5  ,
						SUM(NO_CUMPLE_EDUCACION_MAS_5) AS EDUCACION_MAS_5  		
						,SUM(NO_CUMPLE_ALIMENTACION) AS ALIMENTACION,SUM(NO_CUMPLE_VIVIENDA) AS VIVIENDA,SUM(NO_CUMPLE_REUNIFICACION_FAMILIAR) AS REUNIFICACION_FAMILIAR
						FROM  [RYR_COMUNITARIO].[V_RYR_PERSONAS_CARACTERIZADAS_PARA_TRASLADAR] 
						GROUP BY ID_RYR_COMUNIDAD
--						WHERE ID_RYR_COMUNIDAD = @ID_COMUNIDAD			
					) as tabla    
					UNPIVOT
					( 
						NO_CUMPLE FOR DERECHO IN (SALUD,[IDENTIFICACION_REGISTRO_CIVIL],[IDENTIFICACION_IDENTIDAD],[IDENTIFICACION_CC], ATENCION_PSICOSOCIAL,EDUCACION_5,EDUCACION_MAS_5,ALIMENTACION,VIVIENDA,REUNIFICACION_FAMILIAR )
					)pvttbl
				) AS A 
				UNION 
				--PARA LOS QUE SI CUMPLEN
				SELECT ID_RYR_COMUNIDAD, DERECHO, '' AS NO_CUMPLE, CUMPLE FROM (
					SELECT  * FROM    
					(
						SELECT ID_RYR_COMUNIDAD,
						SUM(CUMPLE_SALUD) AS SALUD ,
						SUM([CUMPLE_IDENTIFICACION_REGISTRO_CIVIL])  AS IDENTIFICACION_REGISTRO_CIVIL  ,
						SUM([IDENTIFICACION_IDENTIDAD]) AS [IDENTIFICACION_IDENTIDAD]  ,
						SUM([CUMPLE_IDENTIFICACION_CC]) AS [IDENTIFICACION_CC]  ,
						SUM(CUMPLE_ATENCION_PSICOSOCIAL) AS ATENCION_PSICOSOCIAL ,
						SUM(CUMPLE_EDUCACION_5) AS EDUCACION_5  ,
						SUM(CUMPLE_EDUCACION_MAS_5) AS EDUCACION_MAS_5  		
						,SUM(CUMPLE_ALIMENTACION) AS ALIMENTACION,SUM(CUMPLE_VIVIENDA) AS VIVIENDA,SUM(CUMPLE_REUNIFICACION_FAMILIAR) AS REUNIFICACION_FAMILIAR
						FROM  [RYR_COMUNITARIO].[V_RYR_PERSONAS_CARACTERIZADAS_PARA_TRASLADAR] 	
						GROUP BY ID_RYR_COMUNIDAD					
					) as tabla    
					UNPIVOT
					( 
						CUMPLE FOR DERECHO IN (SALUD,[IDENTIFICACION_REGISTRO_CIVIL],[IDENTIFICACION_IDENTIDAD],[IDENTIFICACION_CC], ATENCION_PSICOSOCIAL,EDUCACION_5,EDUCACION_MAS_5,ALIMENTACION,VIVIENDA,REUNIFICACION_FAMILIAR )
					)pvttbl
				) AS B
			)AS C
		) AS D 
		GROUP BY ID_RYR_COMUNIDAD,ID_NECESIDAD, DERECHO, NECESIDAD, FECHA_SISTEMA
		--ORDER BY ID_RYR_COMUNIDAD,ID_NECESIDAD
GO
