USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_INSERTAR_ACTUALIZAR_TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_INSERTAR_ACTUALIZAR_TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO] 
@ID_PLAN_ACCION_TRASLADO INT ,
@ID_COMUNIDAD INT,
@ACTIVIDAD VARCHAR(1000),
@RESPONSABLE VARCHAR(1000),
@CUMPLIDA BIT,
@OBSERVACIONES VARCHAR(1000),
@ID INT,
@ID_USUARIO INT
AS
BEGIN		
	IF NOT EXISTS( SELECT TOP 1 1 FROM  RYR_COMUNITARIO.TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO WHERE ID= @ID)
	BEGIN	
		DECLARE @FECHA DATETIME
		SET @FECHA = GETDATE()
		INSERT INTO [RYR_COMUNITARIO].TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO  (ID_PLAN_ACCION_TRASLADO,	ID_COMUNIDAD,ACTIVIDAD,RESPONSABLE,CUMPLIDA,OBSERVACIONES, ID_USUARIO, FECHA_SISTEMA)   VALUES (@ID_PLAN_ACCION_TRASLADO,	@ID_COMUNIDAD,@ACTIVIDAD,@RESPONSABLE,@CUMPLIDA,@OBSERVACIONES, @ID_USUARIO, @FECHA)		
	END
	ELSE
	BEGIN
		UPDATE [RYR_COMUNITARIO].TB_PLAN_ACCION_TRASLADO_BALANCE_TRASLADO  SET ACTIVIDAD = @ACTIVIDAD,RESPONSABLE=@RESPONSABLE,CUMPLIDA= @CUMPLIDA,OBSERVACIONES= @OBSERVACIONES  WHERE ID =@ID
	END
END
GO
