USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_RYR_GET_ENTIDADES]    Script Date: 05/11/2020 10:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_RYR_GET_ENTIDADES]
AS
BEGIN
	SET NOCOUNT ON
	SELECT E.ID_ENTIDAD,E.NOMBRE_ENTIDAD	
	FROM [RYR_COMUNITARIO].[TB_ENTIDAD] AS E	
	LEFT JOIN dbo.V_DEPARTAMENTOS V ON V.ID_DEPARTAMENTO = E.ID_DEPARTAMENTO						
	LEFT JOIN dbo.TBL_RDANE	D ON D.DAN_CCOD_DEPARTAMENTO = V.ID_DEPARTAMENTO AND D.DAN_NID = E.ID_MUNICIPIO
	WHERE E.ACTIVO= 1
	ORDER BY E.TIPO_ENTIDAD DESC, E.NOMBRE_ENTIDAD ASC
	SET NOCOUNT OFF
END
GO
