USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_INSERTAR_ACTUALIZAR_TB_BALANCE_TRASLADO_PLAN_RYR_BIEN_SERVICIO]    Script Date: 05/11/2020 10:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_INSERTAR_ACTUALIZAR_TB_BALANCE_TRASLADO_PLAN_RYR_BIEN_SERVICIO] 
@ID_PLAN_RYR_BIEN_SERVICIO int ,
@VICTIMAS_ACOMPANADAS_DIRECTAMENTE int ,
@VICTIMAS_ACOMPANADAS_INDIRECTAMENTE int,
@TOTAL_VICTIMAS_BENEFICIADAS int,
@PERSONAS_NO_VICTIMAS_BENEFICIADAS INT ,  
@PERSONAS_BENEFICIADAS INT ,
@DESCRIPCION VARCHAR(MAX) ,
@RESPONSABLE VARCHAR(MAX) ,
@COSTO MONEY,
@ID_USUARIO INT
AS
BEGIN		

	IF NOT EXISTS( SELECT TOP 1 1 FROM  RYR_COMUNITARIO.TB_BALANCE_TRASLADO_PLAN_RYR_BIEN_SERVICIO WHERE [ID_PLAN_RYR_BIEN_SERVICIO] = @ID_PLAN_RYR_BIEN_SERVICIO)
	BEGIN	
		INSERT INTO [RYR_COMUNITARIO].[TB_BALANCE_TRASLADO_PLAN_RYR_BIEN_SERVICIO]
			   ([ID_PLAN_RYR_BIEN_SERVICIO]
			   ,[VICTIMAS_ACOMPANADAS_DIRECTAMENTE]
			   ,[VICTIMAS_ACOMPANADAS_INDIRECTAMENTE]
			   ,[TOTAL_VICTIMAS_BENEFICIADAS]
			   ,[PERSONAS_NO_VICTIMAS_BENEFICIADAS]
			   ,[PERSONAS_BENEFICIADAS]
			   ,[DESCRIPCION]
			   ,[RESPONSABLE]
			   ,[ID_USUARIO]
			   ,[FECHA_CREO]
			   ,[COSTO])
		 VALUES
			   (@ID_PLAN_RYR_BIEN_SERVICIO
			   ,@VICTIMAS_ACOMPANADAS_DIRECTAMENTE
			   ,@VICTIMAS_ACOMPANADAS_INDIRECTAMENTE
			   ,@TOTAL_VICTIMAS_BENEFICIADAS
			   ,@PERSONAS_NO_VICTIMAS_BENEFICIADAS
			   ,@PERSONAS_BENEFICIADAS
			   ,@DESCRIPCION
			   ,@RESPONSABLE
			   ,@ID_USUARIO
			   ,getdate()
			   ,@COSTO
			   )
	
	END
	ELSE
	BEGIN
		UPDATE RYR_COMUNITARIO.TB_BALANCE_TRASLADO_PLAN_RYR_BIEN_SERVICIO SET  
       [VICTIMAS_ACOMPANADAS_DIRECTAMENTE] = @VICTIMAS_ACOMPANADAS_DIRECTAMENTE
      ,[VICTIMAS_ACOMPANADAS_INDIRECTAMENTE] = @VICTIMAS_ACOMPANADAS_INDIRECTAMENTE
      ,[TOTAL_VICTIMAS_BENEFICIADAS] = @TOTAL_VICTIMAS_BENEFICIADAS
      ,[PERSONAS_NO_VICTIMAS_BENEFICIADAS] = @PERSONAS_NO_VICTIMAS_BENEFICIADAS
      ,[PERSONAS_BENEFICIADAS] = @PERSONAS_BENEFICIADAS
      ,[DESCRIPCION] = @DESCRIPCION
      ,[RESPONSABLE] = @RESPONSABLE
      ,[COSTO] = @COSTO
	  ,ID_USUARIO_MODIFICO =@ID_USUARIO
	  ,FECHA_MODIFICO = getdate()
		WHERE [ID_PLAN_RYR_BIEN_SERVICIO] = @ID_PLAN_RYR_BIEN_SERVICIO
	END
END
GO
