USE [Maariv_Desarrollo]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_ENTIDAD]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_ENTIDAD](
	[ID_PLAN_ACCION_TRASLADO] [int] IDENTITY(1,1) NOT NULL,
	[ID_ENTIDAD] [int] NULL,
	[ID_USUARIO] [int] NULL,
	[FECHA_SISTEMA] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_ENTIDAD]  WITH CHECK ADD  CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_ENTIDAD_TB_ENTIDAD] FOREIGN KEY([ID_ENTIDAD])
REFERENCES [RYR_COMUNITARIO].[TB_ENTIDAD] ([ID_ENTIDAD])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_ENTIDAD] CHECK CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_ENTIDAD_TB_ENTIDAD]
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_ENTIDAD]  WITH CHECK ADD  CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_ENTIDAD_TB_PLAN_ACCION_TRASLADO] FOREIGN KEY([ID_PLAN_ACCION_TRASLADO])
REFERENCES [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO] ([ID_PLAN_ACCION_TRASLADO])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_ENTIDAD] CHECK CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_ENTIDAD_TB_PLAN_ACCION_TRASLADO]
GO
