USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_GET_TB_CARACTERIZACION_COMUNIDAD]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [RYR_COMUNITARIO].[SP_GET_TB_CARACTERIZACION_COMUNIDAD]
	@ID_COMUNIDAD INT
AS
BEGIN
	SET NOCOUNT ON;
	SELECT [ID_CARACTERIZACION_COMUNIDAD]
      ,[ID_RYR_COMUNIDAD]
      ,[FECHA]
      ,[ID_ENTIDAD]
	  ,[ID_TERRITORIAL]
	  ,[ID_DEPARTAMENTO]
      ,[ID_MUNICIPIO]
      ,[PROFESIONAL]
      ,[CORREO]
      ,[INTENCIONALIDAD_RAZONES]
      ,[INTENCIONALIDAD_MANIFESTACION]
      ,[CONDICIONES_ACTUALES_CARACTERISTICAS]
      ,[CONDICIONES_ACTUALES_ACTIVIDADES]
      ,[MUJERES_ESTADO_EMBARAZO]
      ,[PERSONAS_SITUACION_ENFERMEDAD_RUINOSA]
      ,[ID_ESTADO]
      ,[USUARIO_CREACION]
      ,[FECHA_CREACION]
      ,[USUARIO_MODIFICA]
      ,[FECHA_MODIFICA]
	  ,(SELECT COUNT(*) FROM (SELECT DISTINCT ID_HOGAR FROM RYR_COMUNITARIO.V_RYR_PERSONAS_COMUNIDAD WHERE ID_RYR_COMUNIDAD = @ID_COMUNIDAD)X) AS TOTAL_HOGARES
	  ,(SELECT COUNT(*) FROM RYR_COMUNITARIO.V_RYR_PERSONAS_COMUNIDAD VC WHERE VC.ID_RYR_COMUNIDAD = @ID_COMUNIDAD) AS TOTAL_PERSONAS
	  ,(SELECT COUNT(*) FROM RYR_COMUNITARIO.V_RYR_PERSONAS_COMUNIDAD VC WHERE VC.ID_RYR_COMUNIDAD = @ID_COMUNIDAD AND ESTADO_RUV = 'SI') AS TOTAL_PERSONASRUV
	  ,(SELECT COUNT(*) FROM 
		(SELECT VC.ID_HOGAR FROM RYR_COMUNITARIO.V_RYR_PERSONAS_COMUNIDAD VC 
		LEFT JOIN RYR_COMUNITARIO.TB_CARACTERIZACION_COMUNIDAD_HOGAR_PERSONA HP ON VC.ID_PERSONA = HP.ID_PERSONA
		WHERE VC.ID_RYR_COMUNIDAD = @ID_COMUNIDAD AND HP.REUNIFICACION_FAMILIAR = 1 
		GROUP BY VC.ID_HOGAR) X) AS HOGARES_REUNIFICACION_FAMILIAR
	  ,(SELECT COUNT(HP.ATENCION_PSICOSOCIAL) FROM RYR_COMUNITARIO.V_RYR_PERSONAS_COMUNIDAD VC 
		LEFT JOIN RYR_COMUNITARIO.TB_CARACTERIZACION_COMUNIDAD_HOGAR_PERSONA HP ON VC.ID_PERSONA = HP.ID_PERSONA 
		WHERE VC.ID_RYR_COMUNIDAD = @ID_COMUNIDAD AND HP.ATENCION_PSICOSOCIAL = 1) AS PERSONAS_ATENCION_PSICOSOCIAL   
  FROM [Maariv_Desarrollo].[RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD] WHERE ID_RYR_COMUNIDAD = @ID_COMUNIDAD
END


GO
