USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_GET_TB_PLAN_ACCION_TRASLADO_INVENTARIO_HOGAR]    Script Date: 05/11/2020 10:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [RYR_COMUNITARIO].[SP_GET_TB_PLAN_ACCION_TRASLADO_INVENTARIO_HOGAR] --28
@ID_COMUNIDAD INT
AS
BEGIN
	SET NOCOUNT ON
	select  HOGAR, PERSONA AS REPRESENTANTE_HOGAR ,DOCUMENTO from [RYR_COMUNITARIO].[V_RYR_PERSONAS_CARACTERIZADAS_PARA_TRASLADAR] AS C 
	where  C.ID_RYR_COMUNIDAD = @ID_COMUNIDAD 
	AND ID_PARENTESCO = 14 --JEFE(A) DE HOGAR - AUTORIZADO
	order by HOGAR
END
GO
