USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_RYR_GET_BALANCE_METAS]    Script Date: 09/11/2020 10:27:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_RYR_GET_BALANCE_METAS] 
	@ID_COMUNIDAD INT, @OPCION VARCHAR(10)
	AS
	BEGIN
		SET NOCOUNT ON	
		DECLARE @COMPONENTE INT
			
		IF (@OPCION = 'GI')
			SET @COMPONENTE = 1
		ELSE
			SET @COMPONENTE = 2

		if EXISTS (select top 1 1 from  [RYR_COMUNITARIO].[TB_PLAN_RYR] as R 				
			JOIN [RYR_COMUNITARIO].[TB_PLAN_RYR_BIEN_SERVICIO]  AS S ON R.[ID_PLAN_RYR] = S.[ID_PLAN_RYR] 
			JOIN [RYR_COMUNITARIO].[TB_BALANCE_TRASLADO_PLAN_RYR_BIEN_SERVICIO] AS B ON S.ID_PLAN_RYR_BIEN_SERVICIO = B.ID_PLAN_RYR_BIEN_SERVICIO
			where ID_RYR_COMUNIDAD = @ID_COMUNIDAD
			and S.[ID_COMPONENTE] = @COMPONENTE )
		BEGIN 
			select distinct S.ID_PLAN_RYR_BIEN_SERVICIO, S.BIEN_SERVICIO,META, B.VICTIMAS_ACOMPANADAS_DIRECTAMENTE,B.VICTIMAS_ACOMPANADAS_INDIRECTAMENTE
			,B.TOTAL_VICTIMAS_BENEFICIADAS AS VICTIMAS_ACOMPANADAS,B.DESCRIPCION, B.RESPONSABLE,B.COSTO AS COSTO_TOTAL	, 1 AS PRECARGUE
			,B.PERSONAS_NO_VICTIMAS_BENEFICIADAS, B.PERSONAS_BENEFICIADAS				
			from  [RYR_COMUNITARIO].[TB_PLAN_RYR] as R 				
			JOIN [RYR_COMUNITARIO].[TB_PLAN_RYR_BIEN_SERVICIO]  AS S ON R.[ID_PLAN_RYR] = S.[ID_PLAN_RYR] 
			JOIN [RYR_COMUNITARIO].[TB_BALANCE_TRASLADO_PLAN_RYR_BIEN_SERVICIO] AS B ON S.ID_PLAN_RYR_BIEN_SERVICIO = B.ID_PLAN_RYR_BIEN_SERVICIO
			where ID_RYR_COMUNIDAD = @ID_COMUNIDAD
			and S.[ID_COMPONENTE] = @COMPONENTE 
		END
		ELSE
		BEGIN
			select  distinct
			S.ID_PLAN_RYR_BIEN_SERVICIO, BIEN_SERVICIO,META, VICTIMAS_ACOMPANADAS_DIRECTAMENTE,VICTIMAS_ACOMPANADAS_INDIRECTAMENTE
			,VICTIMAS_ACOMPANADAS_DIRECTAMENTE  + VICTIMAS_ACOMPANADAS_INDIRECTAMENTE AS VICTIMAS_ACOMPANADAS,'' AS DESCRIPCION
			,STUFF((SELECT DISTINCT CAST( RESPONSABLE AS VARCHAR(MAX)) + ' / ' 
				FROM [RYR_COMUNITARIO].[TB_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD] AS A 
				where  S.[ID_PLAN_RYR_BIEN_SERVICIO] = A.[ID_PLAN_RYR_BIEN_SERVICIO]		 
				FOR XML PATH(''),TYPE).value('.','VARCHAR(MAX)'),1,0,'')  AS RESPONSABLE						
			, 0 AS COSTO_TOTAL
			,PERSONAS_NO_VICTIMAS_BENEFICIADAS,  PERSONAS_BENEFICIADAS, 0 AS PRECARGUE							
			from  [RYR_COMUNITARIO].[TB_PLAN_RYR] as R
			JOIN [RYR_COMUNITARIO].[TB_PLAN_RYR_BIEN_SERVICIO]  AS S ON R.[ID_PLAN_RYR] = S.[ID_PLAN_RYR]			
			WHERE ID_RYR_COMUNIDAD =@ID_COMUNIDAD
			and S.[ID_COMPONENTE] = @COMPONENTE
		END
		
		SET NOCOUNT OFF
	END

GO
