USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_GET_TB_PLAN_RYR]    Script Date: 05/11/2020 10:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_GET_TB_PLAN_RYR]
	@ID_COMUNIDAD INT
AS
SELECT P.[ID_PLAN_RYR]
      ,P.[ID_RYR_COMUNIDAD]
	  ,C.NOMBRE_RYR_COMUNIDAD
      ,P.[FECHA_MEDICION]
      ,P.[ID_TERRITORIAL]
	  ,P.[ID_DEPARTAMENTO]
      ,P.[ID_MUNICIPIO]
      ,P.[ID_ENTORNO]
      ,P.[DIRECCION]
      ,P.[PROFESIONAL]
      ,P.[CORREO]
      ,P.[FECHA_ACTA_CTJT]
      ,P.[ID_ESTADO_PLAN_RYR]
      ,P.[USUARIO_CREACION]
      ,P.[FECHA_CREACION]
      ,P.[USUARIO_MODIFICA]
      ,P.[FECHA_MODIFICA]
	  ,(SELECT COUNT(*) FROM (SELECT DISTINCT ID_HOGAR FROM RYR_COMUNITARIO.V_RYR_PERSONAS_COMUNIDAD WHERE ID_RYR_COMUNIDAD = @ID_COMUNIDAD)X) AS TOTAL_HOGARES
	  ,(SELECT COUNT(*) FROM RYR_COMUNITARIO.V_RYR_PERSONAS_COMUNIDAD VC WHERE VC.ID_RYR_COMUNIDAD = @ID_COMUNIDAD) AS TOTAL_PERSONAS
	  ,(SELECT COUNT(*) FROM RYR_COMUNITARIO.V_RYR_PERSONAS_COMUNIDAD VC WHERE VC.ID_RYR_COMUNIDAD = @ID_COMUNIDAD AND ESTADO_RUV = 'SI') AS TOTAL_PERSONASRUV
  FROM [RYR_COMUNITARIO].[TB_PLAN_RYR] P
  INNER JOIN DBO.RYR_COMUNIDADES C ON P.ID_RYR_COMUNIDAD = C.ID_RYR_COMUNIDAD
  WHERE P.ID_RYR_COMUNIDAD = @ID_COMUNIDAD



GO
