USE [Maariv_Desarrollo]
GO
/****** Object:  UserDefinedFunction [RYR_COMUNITARIO].[FN_CANTIDAD_PERSONAS_TRASLADO]    Script Date: 06/11/2020 22:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [RYR_COMUNITARIO].[FN_CANTIDAD_PERSONAS_TRASLADO] ( @ID_COMUNIDAD INT)
RETURNS  INT
AS
BEGIN
	DECLARE @CANTIDAD INT
	select @CANTIDAD= count (distinct C.ID_PERSONA )
		from [RYR_COMUNITARIO].[V_RYR_PERSONAS_CARACTERIZADAS_PARA_TRASLADAR] as c
	WHERE C.ID_RYR_COMUNIDAD = @ID_COMUNIDAD 
	AND C.ID_PERSONA  NOT IN (SELECT ID_PERSONA FROM [RYR_COMUNITARIO].TB_PLAN_ACCION_TRASLADO_PERSONA_NO_TRASLADA AS NT 
								WHERE C.ID_PERSONA =NT.ID_PERSONA AND C.ID_RYR_COMUNIDAD =NT.ID_COMUNIDAD AND NT.ELIMINADO = 0)
	RETURN @CANTIDAD
END	
GO
