USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_RYR_GET_TB_TIPO_EVIDENCIA]    Script Date: 05/11/2020 10:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_RYR_GET_TB_TIPO_EVIDENCIA]
AS
BEGIN
	SET NOCOUNT ON
	select	ID_TIPO_EVIDENCIA, NOMBRE
	from RYR_COMUNITARIO.TB_TIPO_EVIDENCIA as A
	where A.ACTIVO = 1
	SET NOCOUNT OFF
END
GO
