USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_GET_PERSONAS_NO_SE_TRASLADAN]    Script Date: 05/11/2020 10:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_GET_PERSONAS_NO_SE_TRASLADAN] 
	@ID_PLAN_ACCION_TRASLADO int
AS
BEGIN		
	select C.ID_PERSONA, C.HOGAR AS HOGAR,  C.PERSONA , C.DOCUMENTO, NT.MOTIVO
	from [RYR_COMUNITARIO].[V_RYR_PERSONAS_CARACTERIZADAS_PARA_TRASLADAR] AS C
	JOIN [RYR_COMUNITARIO].TB_PLAN_ACCION_TRASLADO_PERSONA_NO_TRASLADA AS NT ON C.ID_PERSONA =NT.ID_PERSONA
	WHERE NT.ID_PLAN_ACCION_TRASLADO =@ID_PLAN_ACCION_TRASLADO AND NT.ELIMINADO = 0		
END
GO
