USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_SET_TB_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD]    Script Date: 09/11/2020 10:27:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_SET_TB_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD]
	@ID_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD INT = 0,
	@ID_PLAN_RYR_BIEN_SERVICIO INT = 0,
	@ID_CLASIFICACION_ACTIVIDAD INT = 0,
	@ACTIVIDAD VARCHAR(1000) = '',
	@CUMPLIDA BIT = 0,
	@FECHA_ACTIVIDAD SMALLDATETIME = NULL,
	@RESPONSABLE VARCHAR(1000) = '',
	@COSTO MONEY = 0,
	@ACTIVO BIT = 0
AS
	IF @ID_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD > 0
		IF @ACTIVO > 0
			UPDATE TB_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD 
			SET	ID_CLASIFICACION_ACTIVIDAD = @ID_CLASIFICACION_ACTIVIDAD
				,ACTIVIDAD = @ACTIVIDAD
				,CUMPLIDA = @CUMPLIDA
				,FECHA_ACTIVIDAD = @FECHA_ACTIVIDAD
				,RESPONSABLE = @RESPONSABLE
				,COSTO = @COSTO
				,ACTIVO = @ACTIVO 
			WHERE ID_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD = @ID_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD
		ELSE
			UPDATE TB_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD 
			SET ACTIVO = @ACTIVO 
			WHERE ID_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD = @ID_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD
	ELSE 
		INSERT INTO TB_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD
				(ID_PLAN_RYR_BIEN_SERVICIO
				,ID_CLASIFICACION_ACTIVIDAD
				,ACTIVIDAD
				,CUMPLIDA
				,FECHA_ACTIVIDAD
				,RESPONSABLE
				,COSTO
				,ACTIVO)
			VALUES(@ID_PLAN_RYR_BIEN_SERVICIO,
				@ID_CLASIFICACION_ACTIVIDAD,
				@ACTIVIDAD,
				@CUMPLIDA,
				@FECHA_ACTIVIDAD,
				@RESPONSABLE,
				@COSTO,
				@ACTIVO)
GO
