USE [Maariv_Desarrollo]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_PERSONA_NO_TRASLADA]    Script Date: 09/11/2020 10:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_PERSONA_NO_TRASLADA](
	[ID_PLAN_ACCION_TRASLADO] [int] NULL,
	[ID_COMUNIDAD] [int] NULL,
	[ID_PERSONA] [int] NOT NULL,
	[MOTIVO] [varchar](1000) NULL,
	[ELIMINADO] [bit] NULL,
	[ID_USUARIO_INSERTO] [int] NULL,
	[FECHA_SISTEMA_INSERTO] [datetime] NULL,
	[ID_USUARIO_ELIMINO] [int] NULL,
	[FECHA_SISTEMA_ELIMINO] [datetime] NULL
) ON [PRIMARY]
GO
INSERT [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_PERSONA_NO_TRASLADA] ([ID_PLAN_ACCION_TRASLADO], [ID_COMUNIDAD], [ID_PERSONA], [MOTIVO], [ELIMINADO], [ID_USUARIO_INSERTO], [FECHA_SISTEMA_INSERTO], [ID_USUARIO_ELIMINO], [FECHA_SISTEMA_ELIMINO]) VALUES (1, 28, 1132348, N'motivo', 0, 20171, CAST(N'2020-11-05T14:39:55.373' AS DateTime), NULL, NULL)
INSERT [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_PERSONA_NO_TRASLADA] ([ID_PLAN_ACCION_TRASLADO], [ID_COMUNIDAD], [ID_PERSONA], [MOTIVO], [ELIMINADO], [ID_USUARIO_INSERTO], [FECHA_SISTEMA_INSERTO], [ID_USUARIO_ELIMINO], [FECHA_SISTEMA_ELIMINO]) VALUES (1, 28, 5464788, N'Decidió radicarse en la cuidad', 0, 20171, CAST(N'2020-11-05T17:21:59.303' AS DateTime), NULL, NULL)
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_PERSONA_NO_TRASLADA]  WITH CHECK ADD  CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_PERSONA_NO_TRASLADA_RYR_COMUNIDADES] FOREIGN KEY([ID_COMUNIDAD])
REFERENCES [dbo].[RYR_COMUNIDADES] ([ID_RYR_COMUNIDAD])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_PERSONA_NO_TRASLADA] CHECK CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_PERSONA_NO_TRASLADA_RYR_COMUNIDADES]
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_PERSONA_NO_TRASLADA]  WITH CHECK ADD  CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_PERSONA_NO_TRASLADA_TB_PLAN_ACCION_TRASLADO] FOREIGN KEY([ID_PLAN_ACCION_TRASLADO])
REFERENCES [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO] ([ID_PLAN_ACCION_TRASLADO])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_PERSONA_NO_TRASLADA] CHECK CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_PERSONA_NO_TRASLADA_TB_PLAN_ACCION_TRASLADO]
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_PERSONA_NO_TRASLADA]  WITH CHECK ADD  CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_PERSONA_NO_TRASLADA_TBL_RPERSONA] FOREIGN KEY([ID_PERSONA])
REFERENCES [dbo].[TBL_RPERSONA] ([ID_PERSONA])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_PERSONA_NO_TRASLADA] CHECK CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_PERSONA_NO_TRASLADA_TBL_RPERSONA]
GO
