USE [Maariv_Desarrollo]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_CATEGORIA]    Script Date: 05/11/2020 10:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_CATEGORIA](
	[ID_CATEGORIA] [int] NULL,
	[ID_PLAN_ACCION_TRASLADO] [int] NULL,
	[ID_COMUNIDAD] [int] NULL,
	[RESULTADO] [varchar](1000) NULL,
	[ACCIONES] [varchar](1000) NULL,
	[OBSERVACIONES] [varchar](1000) NULL,
	[ID_USUARIO] [int] NULL,
	[FECHA_SISTEMA] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_CATEGORIA]  WITH CHECK ADD  CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_CATEGORIA_RYR_COMUNIDADES] FOREIGN KEY([ID_COMUNIDAD])
REFERENCES [dbo].[RYR_COMUNIDADES] ([ID_RYR_COMUNIDAD])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_CATEGORIA] CHECK CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_CATEGORIA_RYR_COMUNIDADES]
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_CATEGORIA]  WITH CHECK ADD  CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_CATEGORIA_TB_CATEGORIA_TRASLADO] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [RYR_COMUNITARIO].[TB_CATEGORIA_TRASLADO] ([ID_CATEGORIA])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_CATEGORIA] CHECK CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_CATEGORIA_TB_CATEGORIA_TRASLADO]
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_CATEGORIA]  WITH CHECK ADD  CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_CATEGORIA_TB_PLAN_ACCION_TRASLADO] FOREIGN KEY([ID_PLAN_ACCION_TRASLADO])
REFERENCES [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO] ([ID_PLAN_ACCION_TRASLADO])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_ACCION_TRASLADO_CATEGORIA] CHECK CONSTRAINT [FK_TB_PLAN_ACCION_TRASLADO_CATEGORIA_TB_PLAN_ACCION_TRASLADO]
GO
