USE [Maariv_Desarrollo]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_ELIMINAR_TB_PLAN_ACCION_TRASLADO_PROFESIONALES]    Script Date: 09/11/2020 10:27:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_ELIMINAR_TB_PLAN_ACCION_TRASLADO_PROFESIONALES]
@ID INT
AS
BEGIN
	DELETE RYR_COMUNITARIO.TB_PLAN_ACCION_TRASLADO_PROFESIONALES where ID = @ID
END
GO
