
Solucion/Proyecto/MAARIV_PD_ENTREGA_RYR_31-08-2020(OK)/.vs/MAARIV/config/applicationhost.config
*.config
*.config
Solucion/Proyecto/MAARIV_PD_ENTREGA_RYR_31-08-2020(OK)/.vs/MAARIV/v16/Server/sqlite3/storage.ide
Solucion/Proyecto/MAARIV_PD_ENTREGA_RYR_31-08-2020(OK)/vwd.webinfo
Solucion/Proyecto/MAARIV_PD_ENTREGA_RYR_31-08-2020(OK)/.vs/MAARIV/v16/.suo
