USE [Maariv_Desarrollo]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD]    Script Date: 04/11/2020 17:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD](
	[ID_CARACTERIZACION_COMUNIDAD] [int] IDENTITY(1,1) NOT NULL,
	[ID_RYR_COMUNIDAD] [int] NOT NULL,
	[FECHA] [smalldatetime] NULL,
	[ID_ENTIDAD] [int] NULL,
	[ID_MUNICIPIO] [int] NULL,
	[PROFESIONAL] [varchar](400) NULL,
	[CORREO] [varchar](100) NULL,
	[INTENCIONALIDAD_RAZONES] [varchar](8000) NULL,
	[INTENCIONALIDAD_MANIFESTACION] [varchar](8000) NULL,
	[CONDICIONES_ACTUALES_CARACTERISTICAS] [varchar](8000) NULL,
	[CONDICIONES_ACTUALES_ACTIVIDADES] [varchar](8000) NULL,
	[MUJERES_ESTADO_EMBARAZO] [int] NULL,
	[PERSONAS_SITUACION_ENFERMEDAD_RUINOSA] [int] NULL,
	[ID_ESTADO] [int] NULL,
	[USUARIO_CREACION] [int] NULL,
	[FECHA_CREACION] [smalldatetime] NULL,
	[USUARIO_MODIFICA] [int] NULL,
	[FECHA_MODIFICA] [smalldatetime] NULL,
	[ID_DEPARTAMENTO] [int] NULL,
	[ID_TERRITORIAL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CARACTERIZACION_COMUNIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD_HOGAR]    Script Date: 04/11/2020 17:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD_HOGAR](
	[ID_CARACTERIZACION_COMUNIDAD_HOGAR] [int] IDENTITY(1,1) NOT NULL,
	[ID_CARACTERIZACION_COMUNIDAD] [int] NOT NULL,
	[ID_CONFORMAICON_HOGAR] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CARACTERIZACION_COMUNIDAD_HOGAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD_HOGAR_PERSONA]    Script Date: 04/11/2020 17:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD_HOGAR_PERSONA](
	[ID_CARACTERIZACION_COMUNIDAD_HOGAR] [int] IDENTITY(1,1) NOT NULL,
	[ID_PERSONA] [int] NOT NULL,
	[REUNIFICACION_FAMILIAR] [bit] NULL,
	[ATENCION_PSICOSOCIAL] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CARACTERIZACION_COMUNIDAD_HOGAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_COMPONENTES]    Script Date: 04/11/2020 17:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_COMPONENTES](
	[ID_COMPONENTE] [int] NOT NULL,
	[COMPONENTE] [varchar](50) NULL,
 CONSTRAINT [PK_TB_COMPONENTES] PRIMARY KEY CLUSTERED 
(
	[ID_COMPONENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_ENTIDAD]    Script Date: 04/11/2020 17:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_ENTIDAD](
	[ID_ENTIDAD] [int] IDENTITY(1,1) NOT NULL,
	[ID_DEPARTAMENTO] [int] NULL,
	[ID_MUNICIPIO] [int] NULL,
	[TIPO_ENTIDAD] [varchar](100) NULL,
	[NOMBRE_ENTIDAD] [varchar](200) NULL,
	[FECHA_CREACION] [smalldatetime] NULL,
	[USUARIO_CREACION] [int] NULL,
	[FECHA_MODIFICA] [smalldatetime] NULL,
	[USUARIO_MODIFICA] [int] NULL,
	[ID_SUBTIPO_ENTIDAD] [int] NULL,
	[ACTIVO] [bit] NULL,
 CONSTRAINT [PK_ENTIDAD_1] PRIMARY KEY NONCLUSTERED 
(
	[ID_ENTIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_ESTADO_PLAN_RYR]    Script Date: 04/11/2020 17:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_ESTADO_PLAN_RYR](
	[ID_ESTADO_PLAN_RYR] [int] NOT NULL,
	[ESTADO_PLAN_RYR] [varchar](50) NULL,
 CONSTRAINT [PK_RYR_COMUNITARIO.TB_ESTADO_PLAN_RYR] PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO_PLAN_RYR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_PLAN_RYR]    Script Date: 04/11/2020 17:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_PLAN_RYR](
	[ID_PLAN_RYR] [int] IDENTITY(1,1) NOT NULL,
	[ID_RYR_COMUNIDAD] [int] NOT NULL,
	[FECHA_MEDICION] [smalldatetime] NULL,
	[ID_TERRITORIAL] [int] NULL,
	[ID_MUNICIPIO] [int] NULL,
	[ID_ENTORNO] [int] NULL,
	[DIRECCION] [varchar](400) NULL,
	[PROFESIONAL] [varchar](400) NULL,
	[CORREO] [varchar](100) NULL,
	[FECHA_ACTA_CTJT] [smalldatetime] NULL,
	[ID_ESTADO_PLAN_RYR] [int] NULL,
	[USUARIO_CREACION] [int] NULL,
	[FECHA_CREACION] [smalldatetime] NULL,
	[USUARIO_MODIFICA] [int] NULL,
	[FECHA_MODIFICA] [smalldatetime] NULL,
	[ID_DEPARTAMENTO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PLAN_RYR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_PLAN_RYR_BIEN_SERVICIO]    Script Date: 04/11/2020 17:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_PLAN_RYR_BIEN_SERVICIO](
	[ID_PLAN_RYR_BIEN_SERVICIO] [int] IDENTITY(1,1) NOT NULL,
	[ID_PLAN_RYR] [int] NOT NULL,
	[BIEN_SERVICIO] [varchar](400) NULL,
	[META] [int] NULL,
	[VICTIMAS_ACOMPANADAS_DIRECTAMENTE] [int] NULL,
	[VICTIMAS_ACOMPANADAS_INDIRECTAMENTE] [int] NULL,
	[ID_COMPONENTE] [int] NULL,
	[PERSONAS_NO_VICTIMAS_BENEFICIADAS] [int] NULL,
	[PERSONAS_BENEFICIADAS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PLAN_RYR_BIEN_SERVICIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD]    Script Date: 04/11/2020 17:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD](
	[ID_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD] [int] IDENTITY(1,1) NOT NULL,
	[ID_PLAN_RYR_BIEN_SERVICIO] [int] NOT NULL,
	[ID_CLASIFICACION_ACTIVIDAD] [int] NOT NULL,
	[ACTIVIDAD] [varchar](1000) NULL,
	[ID_ETAPA] [int] NOT NULL,
	[RUTA_CRITICA] [bit] NULL,
	[FECHA_ACTIVIDAD] [smalldatetime] NULL,
	[RESPONSABLE] [varchar](1000) NULL,
	[COSTO] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PLAN_RYR_BIEN_SERVICIO_ACTIVIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [RYR_COMUNITARIO].[TB_TIPO_EVIDENCIA]    Script Date: 04/11/2020 17:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RYR_COMUNITARIO].[TB_TIPO_EVIDENCIA](
	[ID_TIPO_EVIDENCIA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](1000) NULL,
	[ACTIVO] [bit] NULL,
 CONSTRAINT [PK_TB_TIPO_EVIDENCIA] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_EVIDENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [RYR_COMUNITARIO].[V_RYR_PERSONAS_COMUNIDAD]    Script Date: 04/11/2020 17:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [RYR_COMUNITARIO].[V_RYR_PERSONAS_COMUNIDAD]
AS
	SELECT DISTINCT
	C.ID_RYR_COMUNIDAD,
	HA.ID_RYR_HOGAR_ACTUAL AS ID_HOGAR,
	P.ID_PERSONA,
	P.PRIMER_NOMBRE AS PRIMER_NOMBRE,
	P.SEGUNDO_NOMBRE AS SEGUNDO_NOMBRE,
	P.PRIMER_APELLIDO AS PRIMER_APELLIDO,
	P.SEGUNDO_APELLIDO AS SEGUNDO_APELLIDO,
	p.TIPO_DOCUMENTO AS TIPO_DOCUMENTO,
	P.IDENTIFICACION AS NUMERO_DOCUMENTO,
	P.FECHA_NACIMIENTO,
	P.SEXO AS SEXO,
	PAR.PARENTESCO,PAR.ID_PARENTESCO,
	'S/I' AS TELEFONO_FIJO,
	P.TELEFONO AS TELEFONO_CELULAR,
    P.DEPARTAMENTO_RESIDENCIA AS DEPARTAMENTO_RESIDENCIA,
	P.MUNICIPIO_RESIDENCIA AS MUNICIPIO_RESIDENCIA,
	'S/I' AS VEREDA_RESIDENCIA,
	'S/I' AS CORREGIMIENTO_RESIDENCIA,
	P.BARRIO AS BARRIO_LOCALIDAD_RESIDENCIA,
	P.DIRECCION_RESIDENCIA,
	DPI.NOMBRE_DEPARTAMENTO AS DEPARTAMENTO_INTENCION,
	DPI.NOMBRE_MUNICIPIO AS MUNICIPIO_INTENCION,
	'S/I' AS CORREGIMIENTO_INTENCION,
	'S/I' AS VEREDA_INTENCION,
	'S/I' AS BARRIO_LOCALIDAD_INTENCION,
	'S/I' AS TIPO_SOLUCION,
	CASE WHEN P.ID_PERSONA_RUV>0 THEN 'SI' else 'NO' END AS ESTADO_RUV
	,ISNULL(P.PRIMER_NOMBRE, '') + ' ' + ISNULL( P.SEGUNDO_NOMBRE, '') + ' ' + ISNULL(P.PRIMER_APELLIDO, '') + ' ' + ISNULL(P.SEGUNDO_APELLIDO, '') AS 'PERSONA', P.TIPO_DOCUMENTO + ' ' + P.IDENTIFICACION AS DOCUMENTO
	,P.EDAD AS EDAD_ANOS, P.ETNIA, P.ORIENTACION_SEXUAL, P.PRESENTA_DISCAPACIDAD
	,ID_RYR_HOGAR_ACTUAL,P.ID_PERSONA_RUV
	,ha.HECHO_VICTIMIZANTE, HA.DANE_MUNICIPIO_OCURRENCIA_HECHO,
	SSV.[IDENTIFICACION],SSV.[SALUD],SSV.[ATENCION_PSICOSOCIAL],SSV.[EDUCACION],SSV.[ALIMENTACION],SSV.[VIVIENDA],SSV.[REUNIFICACION_FAMILIAR],SSV.[GENERACION_INGRESOS],SSV.[FECHA_MEDICION],SALIDA_SSV,
	CASE WHEN SALIDA_SSV = 'Supera SSV' THEN 1 ELSE 0 END AS SUPERA_SSV,	
	CASE WHEN SSV.SALUD = 'Cumple' THEN 1 ELSE 0 END AS CUMPLE_SALUD,
	CASE WHEN SSV.IDENTIFICACION = 'Cumple' THEN 1 ELSE 0 END AS CUMPLE_IDENTIFICACION,
	CASE WHEN SSV.ATENCION_PSICOSOCIAL = 'Cumple' THEN 1 ELSE 0 END AS CUMPLE_ATENCION_PSICOSOCIAL,
	CASE WHEN SSV.EDUCACION = 'Cumple' THEN 1 ELSE 0 END AS CUMPLE_EDUCACION,
	CASE WHEN SSV.ALIMENTACION = 'Cumple' THEN 1 ELSE 0 END AS CUMPLE_ALIMENTACION,
	CASE WHEN SSV.VIVIENDA = 'Cumple' THEN 1 ELSE 0 END AS CUMPLE_VIVIENDA,
	CASE WHEN SSV.REUNIFICACION_FAMILIAR = 'Cumple' THEN 1 ELSE 0 END AS CUMPLE_REUNIFICACION_FAMILIAR,
	CASE WHEN SSV.GENERACION_INGRESOS = 'Cumple' THEN 1 ELSE 0 END AS CUMPLE_GENERACION_INGRESOS,
	
	CASE WHEN SSV.SALUD <> 'Cumple' THEN 1 ELSE 0 END AS NO_CUMPLE_SALUD,
	CASE WHEN SSV.IDENTIFICACION <> 'Cumple' THEN 1 ELSE 0 END AS NO_CUMPLE_IDENTIFICACION,
	CASE WHEN SSV.ATENCION_PSICOSOCIAL <> 'Cumple' THEN 1 ELSE 0 END AS NO_CUMPLE_ATENCION_PSICOSOCIAL,
	CASE WHEN SSV.EDUCACION <> 'Cumple' THEN 1 ELSE 0 END AS NO_CUMPLE_EDUCACION,
	CASE WHEN SSV.ALIMENTACION <> 'Cumple' THEN 1 ELSE 0 END AS NO_CUMPLE_ALIMENTACION,
	CASE WHEN SSV.VIVIENDA <> 'Cumple' THEN 1 ELSE 0 END AS NO_CUMPLE_VIVIENDA,
	CASE WHEN SSV.REUNIFICACION_FAMILIAR <> 'Cumple' THEN 1 ELSE 0 END AS NO_CUMPLE_REUNIFICACION_FAMILIAR,
	CASE WHEN SSV.GENERACION_INGRESOS <> 'Cumple' THEN 1 ELSE 0 END AS NO_CUMPLE_GENERACION_INGRESOS
	FROM [dbo].[V_PERSONAS_MAARIV] as p
	INNER JOIN RYR_HOGAR_ACTUAL HA ON P.ID_PERSONA = HA.ID_PERSONA
	--INNER JOIN RYR_CONFORMACION_HOGAR CA ON P.ID_PERSONA = CA.ID_PERSONA
	INNER JOIN RYR_INTENCION I ON I.ID_SOLICITUD_SGV = HA.ID_SOLICITUD_SGV 
	INNER JOIN RYR_COMUNIDADES C ON C.ID_RYR_COMUNIDAD = I.ID_RYR_COMUNIDAD
	INNER JOIN TIPO_PARENTESCO PAR ON HA.PARENTESCO = PAR.ID_PARENTESCO
	LEFT JOIN RYR_HOGAR_SSV SSV ON HA.ID_SOLICITUD_SGV_HOGAR =SSV.ID_SOLICITUD_SGV_HOGAR
	LEFT JOIN DIVIPOLA DPI ON I.ID_MUNICIPIO_SOLICITUD = DPI.CODIGO_MUNICIPIO
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD]  WITH CHECK ADD  CONSTRAINT [FK_TB_CARACTERIZACION_COMUNIDAD_RYR_COMUNIDADES] FOREIGN KEY([ID_RYR_COMUNIDAD])
REFERENCES [dbo].[RYR_COMUNIDADES] ([ID_RYR_COMUNIDAD])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD] CHECK CONSTRAINT [FK_TB_CARACTERIZACION_COMUNIDAD_RYR_COMUNIDADES]
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD_HOGAR]  WITH CHECK ADD FOREIGN KEY([ID_CARACTERIZACION_COMUNIDAD])
REFERENCES [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD] ([ID_CARACTERIZACION_COMUNIDAD])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD_HOGAR]  WITH CHECK ADD  CONSTRAINT [FK_TB_CARACTERIZACION_COMUNIDAD_HOGAR_RYR_HOGAR_ACTUAL] FOREIGN KEY([ID_CONFORMAICON_HOGAR])
REFERENCES [dbo].[RYR_HOGAR_ACTUAL] ([ID_RYR_HOGAR_ACTUAL])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD_HOGAR] CHECK CONSTRAINT [FK_TB_CARACTERIZACION_COMUNIDAD_HOGAR_RYR_HOGAR_ACTUAL]
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_RYR]  WITH CHECK ADD  CONSTRAINT [FK_TB_PLAN_RYR_COMUNIDADES] FOREIGN KEY([ID_RYR_COMUNIDAD])
REFERENCES [dbo].[RYR_COMUNIDADES] ([ID_RYR_COMUNIDAD])
GO
ALTER TABLE [RYR_COMUNITARIO].[TB_PLAN_RYR] CHECK CONSTRAINT [FK_TB_PLAN_RYR_COMUNIDADES]
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_ESTADO_PLAN_RYR]    Script Date: 04/11/2020 17:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_ESTADO_PLAN_RYR]    
	
AS
BEGIN
	SET NOCOUNT ON
	
	SELECT 
		ID_ESTADO_PLAN_RYR,
		ESTADO_PLAN_RYR
	FROM RYR_COMUNITARIO.TB_ESTADO_PLAN_RYR

	SET NOCOUNT OFF
END
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_GET_PERSONAS_COMUNIDAD]    Script Date: 04/11/2020 17:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_GET_PERSONAS_COMUNIDAD]
	@ID_COMUNIDAD INT
AS
BEGIN
	SET NOCOUNT ON;
	SELECT ROW_NUMBER() OVER (PARTITION BY PC.ID_HOGAR ORDER BY PC.ID_PERSONA) AS ID_HOGAR_PERSONA
	  ,PC.[ID_RYR_COMUNIDAD]
      ,PC.[ID_HOGAR]
      ,PC.[ID_PERSONA]
      ,PC.[PRIMER_NOMBRE]
      ,PC.[SEGUNDO_NOMBRE]
      ,PC.[PRIMER_APELLIDO]
      ,PC.[SEGUNDO_APELLIDO]
      ,PC.[TIPO_DOCUMENTO]
      ,PC.[NUMERO_DOCUMENTO]
      ,PC.[FECHA_NACIMIENTO]
      ,PC.[SEXO]
      ,PC.[PARENTESCO]
      ,PC.[TELEFONO_FIJO]
      ,PC.[TELEFONO_CELULAR]
      ,PC.[DEPARTAMENTO_RESIDENCIA]
      ,PC.[MUNICIPIO_RESIDENCIA]
      ,PC.[VEREDA_RESIDENCIA]
      ,PC.[CORREGIMIENTO_RESIDENCIA]
      ,PC.[BARRIO_LOCALIDAD_RESIDENCIA]
      ,PC.[DIRECCION_RESIDENCIA]
      ,PC.[DEPARTAMENTO_INTENCION]
      ,PC.[MUNICIPIO_INTENCION]
      ,PC.[CORREGIMIENTO_INTENCION]
      ,PC.[VEREDA_INTENCION]
      ,PC.[BARRIO_LOCALIDAD_INTENCION]
      ,PC.[TIPO_SOLUCION]
      ,PC.[ESTADO_RUV]
      ,PC.[PERSONA]
      ,PC.[DOCUMENTO]
      ,PC.[EDAD_ANOS]
      ,PC.[ID_RYR_HOGAR_ACTUAL]
      ,PC.[ID_PERSONA_RUV]
      ,PC.[HECHO_VICTIMIZANTE]
      ,PC.[DANE_MUNICIPIO_OCURRENCIA_HECHO]
      ,PC.[IDENTIFICACION]
      ,PC.[SALUD]
      ,PC.[ATENCION_PSICOSOCIAL]
      ,PC.[EDUCACION]
      ,PC.[ALIMENTACION]
      ,PC.[VIVIENDA]
      ,PC.[REUNIFICACION_FAMILIAR]
      ,PC.[GENERACION_INGRESOS]
      ,PC.[FECHA_MEDICION]
      ,PC.[SALIDA_SSV]
      ,PC.[SUPERA_SSV]
      ,PC.[CUMPLE_SALUD]
      ,PC.[CUMPLE_IDENTIFICACION]
      ,PC.[CUMPLE_ATENCION_PSICOSOCIAL]
      ,PC.[CUMPLE_EDUCACION]
      ,PC.[CUMPLE_ALIMENTACION]
      ,PC.[CUMPLE_VIVIENDA]
      ,PC.[CUMPLE_REUNIFICACION_FAMILIAR]
      ,PC.[CUMPLE_GENERACION_INGRESOS]
      ,PC.[NO_CUMPLE_SALUD]
      ,PC.[NO_CUMPLE_IDENTIFICACION]
      ,PC.[NO_CUMPLE_ATENCION_PSICOSOCIAL]
      ,PC.[NO_CUMPLE_EDUCACION]
      ,PC.[NO_CUMPLE_ALIMENTACION]
      ,PC.[NO_CUMPLE_VIVIENDA]
      ,PC.[NO_CUMPLE_REUNIFICACION_FAMILIAR]
      ,PC.[NO_CUMPLE_GENERACION_INGRESOS]
	  ,ISNULL(CCP.REUNIFICACION_FAMILIAR,0) AS REUNIFICACION_FAMILIAR_CARACTERIZACION
	  ,ISNULL(CCP.ATENCION_PSICOSOCIAL,0) AS ATENCION_PSICOSOCIAL_CARACTERIZACION
  FROM RYR_COMUNITARIO.V_RYR_PERSONAS_COMUNIDAD PC
  LEFT JOIN RYR_COMUNITARIO.TB_CARACTERIZACION_COMUNIDAD CC ON PC.ID_RYR_COMUNIDAD = CC.ID_RYR_COMUNIDAD
  LEFT JOIN RYR_COMUNITARIO.TB_CARACTERIZACION_COMUNIDAD_HOGAR_PERSONA CCP ON PC.ID_PERSONA = CCP.ID_PERSONA
  where PC.ID_RYR_COMUNIDAD = @ID_COMUNIDAD
  ORDER BY PC.[ID_HOGAR],PC.[PRIMER_APELLIDO]

END
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_GET_TB_CARACTERIZACION_COMUNIDAD]    Script Date: 04/11/2020 17:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [RYR_COMUNITARIO].[SP_GET_TB_CARACTERIZACION_COMUNIDAD]
	@ID_COMUNIDAD INT
AS
BEGIN
	SET NOCOUNT ON;
	SELECT [ID_CARACTERIZACION_COMUNIDAD]
      ,[ID_RYR_COMUNIDAD]
      ,[FECHA]
      ,[ID_ENTIDAD]
	  ,[ID_TERRITORIAL]
	  ,[ID_DEPARTAMENTO]
      ,[ID_MUNICIPIO]
      ,[PROFESIONAL]
      ,[CORREO]
      ,[INTENCIONALIDAD_RAZONES]
      ,[INTENCIONALIDAD_MANIFESTACION]
      ,[CONDICIONES_ACTUALES_CARACTERISTICAS]
      ,[CONDICIONES_ACTUALES_ACTIVIDADES]
      ,[MUJERES_ESTADO_EMBARAZO]
      ,[PERSONAS_SITUACION_ENFERMEDAD_RUINOSA]
      ,[ID_ESTADO]
      ,[USUARIO_CREACION]
      ,[FECHA_CREACION]
      ,[USUARIO_MODIFICA]
      ,[FECHA_MODIFICA]
	  ,(SELECT COUNT(*) FROM (SELECT DISTINCT ID_HOGAR FROM RYR_COMUNITARIO.V_RYR_PERSONAS_COMUNIDAD WHERE ID_RYR_COMUNIDAD = @ID_COMUNIDAD)X) AS TOTAL_HOGARES
	  ,(SELECT COUNT(*) FROM RYR_COMUNITARIO.V_RYR_PERSONAS_COMUNIDAD VC WHERE VC.ID_RYR_COMUNIDAD = @ID_COMUNIDAD) AS TOTAL_PERSONAS
	  ,(SELECT COUNT(*) FROM RYR_COMUNITARIO.V_RYR_PERSONAS_COMUNIDAD VC WHERE VC.ID_RYR_COMUNIDAD = @ID_COMUNIDAD AND ESTADO_RUV = 'SI') AS TOTAL_PERSONASRUV
	  ,(SELECT COUNT(*) FROM 
		(SELECT VC.ID_HOGAR FROM RYR_COMUNITARIO.V_RYR_PERSONAS_COMUNIDAD VC 
		LEFT JOIN RYR_COMUNITARIO.TB_CARACTERIZACION_COMUNIDAD_HOGAR_PERSONA HP ON VC.ID_PERSONA = HP.ID_PERSONA
		WHERE VC.ID_RYR_COMUNIDAD = @ID_COMUNIDAD AND HP.REUNIFICACION_FAMILIAR = 1 
		GROUP BY VC.ID_HOGAR) X) AS HOGARES_REUNIFICACION_FAMILIAR
	  ,(SELECT COUNT(HP.ATENCION_PSICOSOCIAL) FROM RYR_COMUNITARIO.V_RYR_PERSONAS_COMUNIDAD VC 
		LEFT JOIN RYR_COMUNITARIO.TB_CARACTERIZACION_COMUNIDAD_HOGAR_PERSONA HP ON VC.ID_PERSONA = HP.ID_PERSONA 
		WHERE VC.ID_RYR_COMUNIDAD = @ID_COMUNIDAD AND HP.ATENCION_PSICOSOCIAL = 1) AS PERSONAS_ATENCION_PSICOSOCIAL   
  FROM [Maariv_Desarrollo].[RYR_COMUNITARIO].[TB_CARACTERIZACION_COMUNIDAD] WHERE ID_RYR_COMUNIDAD = @ID_COMUNIDAD
END


GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_GET_TB_PLAN_RYR]    Script Date: 04/11/2020 17:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_GET_TB_PLAN_RYR]
	@ID_COMUNIDAD INT
AS
SELECT P.[ID_PLAN_RYR]
      ,P.[ID_RYR_COMUNIDAD]
	  ,C.NOMBRE_RYR_COMUNIDAD
      ,P.[FECHA_MEDICION]
      ,P.[ID_TERRITORIAL]
	  ,P.[ID_DEPARTAMENTO]
      ,P.[ID_MUNICIPIO]
      ,P.[ID_ENTORNO]
      ,P.[DIRECCION]
      ,P.[PROFESIONAL]
      ,P.[CORREO]
      ,P.[FECHA_ACTA_CTJT]
      ,P.[ID_ESTADO_PLAN_RYR]
      ,P.[USUARIO_CREACION]
      ,P.[FECHA_CREACION]
      ,P.[USUARIO_MODIFICA]
      ,P.[FECHA_MODIFICA]
	  ,(SELECT COUNT(*) FROM (SELECT DISTINCT ID_HOGAR FROM RYR_COMUNITARIO.V_RYR_PERSONAS_COMUNIDAD WHERE ID_RYR_COMUNIDAD = @ID_COMUNIDAD)X) AS TOTAL_HOGARES
	  ,(SELECT COUNT(*) FROM RYR_COMUNITARIO.V_RYR_PERSONAS_COMUNIDAD VC WHERE VC.ID_RYR_COMUNIDAD = @ID_COMUNIDAD) AS TOTAL_PERSONAS
	  ,(SELECT COUNT(*) FROM RYR_COMUNITARIO.V_RYR_PERSONAS_COMUNIDAD VC WHERE VC.ID_RYR_COMUNIDAD = @ID_COMUNIDAD AND ESTADO_RUV = 'SI') AS TOTAL_PERSONASRUV
  FROM [RYR_COMUNITARIO].[TB_PLAN_RYR] P
  INNER JOIN DBO.RYR_COMUNIDADES C ON P.ID_RYR_COMUNIDAD = C.ID_RYR_COMUNIDAD
  WHERE P.ID_RYR_COMUNIDAD = @ID_COMUNIDAD



GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_RYR_GET_ENTIDADES]    Script Date: 04/11/2020 17:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_RYR_GET_ENTIDADES]
AS
BEGIN
	SET NOCOUNT ON
	SELECT E.ID_ENTIDAD,E.NOMBRE_ENTIDAD	
	FROM [RYR_COMUNITARIO].[TB_ENTIDAD] AS E	
	LEFT JOIN dbo.V_DEPARTAMENTOS V ON V.ID_DEPARTAMENTO = E.ID_DEPARTAMENTO						
	LEFT JOIN dbo.TBL_RDANE	D ON D.DAN_CCOD_DEPARTAMENTO = V.ID_DEPARTAMENTO AND D.DAN_NID = E.ID_MUNICIPIO
	WHERE E.ACTIVO= 1
	ORDER BY E.TIPO_ENTIDAD DESC, E.NOMBRE_ENTIDAD ASC
	SET NOCOUNT OFF
END
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_RYR_GET_ENTORNOS]    Script Date: 04/11/2020 17:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RYR_COMUNITARIO].[SP_RYR_GET_ENTORNOS]
AS
BEGIN
	SET NOCOUNT ON
	SELECT [ID_RYR_ENTORNO]
      ,[ENTORNO_RYR]
      ,[ESTADO_ENTORNO]
	FROM [dbo].[RYR_ENTORNO]
	SET NOCOUNT OFF
END
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_SET_PERSONAS_COMUNIDAD]    Script Date: 04/11/2020 17:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [RYR_COMUNITARIO].[SP_SET_PERSONAS_COMUNIDAD]
	@ID_PERSONA INT,
	@REUNIFICACION_FAMILIAR BIT,
	@ATENCION_PSICOSOCIAL BIT
AS
BEGIN
	IF NOT EXISTS(SELECT 1 FROM RYR_COMUNITARIO.TB_CARACTERIZACION_COMUNIDAD_HOGAR_PERSONA WHERE ID_PERSONA = @ID_PERSONA)
		INSERT INTO RYR_COMUNITARIO.TB_CARACTERIZACION_COMUNIDAD_HOGAR_PERSONA
		(ID_PERSONA,REUNIFICACION_FAMILIAR,ATENCION_PSICOSOCIAL)
		VALUES (@ID_PERSONA,@REUNIFICACION_FAMILIAR,@ATENCION_PSICOSOCIAL)
	ELSE
		UPDATE RYR_COMUNITARIO.TB_CARACTERIZACION_COMUNIDAD_HOGAR_PERSONA 
		SET REUNIFICACION_FAMILIAR = @REUNIFICACION_FAMILIAR, ATENCION_PSICOSOCIAL = @ATENCION_PSICOSOCIAL
		WHERE ID_PERSONA = @ID_PERSONA
END
GO
/****** Object:  StoredProcedure [RYR_COMUNITARIO].[SP_SET_TB_CARACTERIZACION_COMUNIDAD]    Script Date: 04/11/2020 17:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [RYR_COMUNITARIO].[SP_SET_TB_CARACTERIZACION_COMUNIDAD] 
	@ID_RYR_COMUNIDAD INT,
	@FECHA DATE,
	@ID_ENTIDAD INT,
	@ID_TERRITORIAL INT,
	@ID_DEPARTAMENTO INT,
	@ID_MUNICIPIO INT,
	@PROFESIONAL VARCHAR(400),
	@CORREO VARCHAR(400),
	@INTENCIONALIDAD_RAZONES VARCHAR(8000),
	@INTENCIONALIDAD_MANIFESTACION VARCHAR(8000),
	@CONDICIONES_ACTUALES_CARACTERISTICAS VARCHAR(8000),
	@CONDICIONES_ACTUALES_ACTIVIDADES VARCHAR(8000),
	@MUJERES_ESTADO_EMBARAZO INT,
	@PERSONAS_SITUACION_ENFERMEDAD_RUINOSA INT,
	@USUARIO INT
AS
BEGIN

	SET NOCOUNT ON;

	IF NOT EXISTS(SELECT 1 FROM RYR_COMUNITARIO.TB_CARACTERIZACION_COMUNIDAD WHERE ID_RYR_COMUNIDAD = @ID_RYR_COMUNIDAD)
		INSERT INTO RYR_COMUNITARIO.TB_CARACTERIZACION_COMUNIDAD
		(ID_RYR_COMUNIDAD,FECHA,ID_ENTIDAD,ID_TERRITORIAL,ID_DEPARTAMENTO,ID_MUNICIPIO,PROFESIONAL,
		CORREO,INTENCIONALIDAD_RAZONES,INTENCIONALIDAD_MANIFESTACION,CONDICIONES_ACTUALES_CARACTERISTICAS,
		CONDICIONES_ACTUALES_ACTIVIDADES,MUJERES_ESTADO_EMBARAZO,PERSONAS_SITUACION_ENFERMEDAD_RUINOSA,
		USUARIO_CREACION,FECHA_CREACION)
		VALUES(@ID_RYR_COMUNIDAD,@FECHA,@ID_ENTIDAD,@ID_TERRITORIAL,@ID_DEPARTAMENTO,@ID_MUNICIPIO,@PROFESIONAL,
		@CORREO,@INTENCIONALIDAD_RAZONES,@INTENCIONALIDAD_MANIFESTACION,@CONDICIONES_ACTUALES_CARACTERISTICAS,
		@CONDICIONES_ACTUALES_ACTIVIDADES,@MUJERES_ESTADO_EMBARAZO,@PERSONAS_SITUACION_ENFERMEDAD_RUINOSA,
		@USUARIO,GETDATE())
	ELSE
		UPDATE RYR_COMUNITARIO.TB_CARACTERIZACION_COMUNIDAD
		SET FECHA = @FECHA,
			ID_ENTIDAD = @ID_ENTIDAD,
			ID_TERRITORIAL = @ID_TERRITORIAL,
			ID_DEPARTAMENTO = @ID_DEPARTAMENTO,
			ID_MUNICIPIO = @ID_MUNICIPIO,
			PROFESIONAL = @PROFESIONAL,
			CORREO = @CORREO,
			INTENCIONALIDAD_RAZONES = @INTENCIONALIDAD_RAZONES,
			INTENCIONALIDAD_MANIFESTACION = @INTENCIONALIDAD_MANIFESTACION,
			CONDICIONES_ACTUALES_CARACTERISTICAS = @CONDICIONES_ACTUALES_CARACTERISTICAS,
			CONDICIONES_ACTUALES_ACTIVIDADES = @CONDICIONES_ACTUALES_ACTIVIDADES,
			MUJERES_ESTADO_EMBARAZO = @MUJERES_ESTADO_EMBARAZO,
			PERSONAS_SITUACION_ENFERMEDAD_RUINOSA = @PERSONAS_SITUACION_ENFERMEDAD_RUINOSA,
			USUARIO_MODIFICA = @USUARIO,
			FECHA_MODIFICA = GETDATE()
		WHERE ID_RYR_COMUNIDAD = @ID_RYR_COMUNIDAD
		
END
GO
